Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, jit-approval-svc:test, moltbot:build, amcrest2mqtt:build, snapcast:build, jit-approval-svc:build, snapclient:build, chromium-browser:build, vault:configure, vault:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, ansible/roles/fetch-vault-secrets/**/*, ansible/roles/restic/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-zwave.yml, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  jit-approval-svc:test: any of: docker/jit-approval-svc/**/*
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  jit-approval-svc:build: any of: docker/jit-approval-svc/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  chromium-browser:build: any of: docker/chromium-browser/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*

feat: add Pi-hole metrics collection via Telegraf
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  base/telegraf/telegraf.conf
Due: router:validate

feat: add Telegraf metrics collection for 10 services
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  base/telegraf/scripts/deluge-stats.sh
  base/telegraf/telegraf.conf
  docker/nginx/router.lab.nkontur.com/external_http.conf
  docker/nginx/router.lab.nkontur.com/internal_http.conf
  docker/nginx/router.lab.nkontur.com/iot_http.conf
Due: router:validate

feat: add Tautulli container and nginx reverse proxy
  docker/docker-compose.yml
  docker/nginx/router.lab.nkontur.com/internal_http.conf
Due: router:validate

feat: auto-run Nextcloud occ upgrade after image updates
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

chore: patch image updates (jackett 0.24.1218)
  docker/docker-compose.yml
Due: router:validate

chore: minor image updates + digest pins
  docker/docker-compose-observability.yml
  docker/docker-compose-zigbee.yml
  docker/docker-compose-zwave.yml
  docker/docker-compose.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(tautulli): add required capabilities for s6-overlay
  docker/docker-compose.yml
Due: router:validate

chore: update jackett 0.24.1218 → 0.24.1223
  docker/docker-compose.yml
Due: router:validate

chore: update openclaw 2026.2.24 → 2026.2.26
  docker/openclaw/Dockerfile
Due: router:validate

chore: update nextcloud 32.0.6 → 33.0.0
  docker/docker-compose.yml
Due: router:validate

fix(telegraf): update Pi-hole input for v6 API with session auth
  base/telegraf/scripts/pihole-stats.sh
  base/telegraf/telegraf.conf
Due: router:validate

fix: add retry logic to minidsp-rs download
  ansible/roles/configure-zwave/tasks/main.yml
Due: zwave:validate

fix(telegraf): point dns_query at pihole instead of localhost
  base/telegraf/telegraf.conf
Due: router:validate

fix(nginx): move bare return directives into location blocks
  docker/nginx/router.lab.nkontur.com/external_http.conf
  docker/nginx/router.lab.nkontur.com/internal_http.conf
  docker/nginx/router.lab.nkontur.com/iot_http.conf
Due: router:validate

fix(telegraf): use pihole api_token instead of password for stats
  base/telegraf/scripts/pihole-stats.sh
  base/telegraf/telegraf.conf
Due: router:validate

fix: make ZFS apt cache update resilient to PPA failures
  ansible/roles/configure-base/tasks/main.yml
Due: router:validate

fix(apt): manage GitLab Runner repo/key and clean up stale sources
  ansible/roles/configure-base/tasks/main.yml
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate

fix(apt): remove old gitlab-runner sources file before adding new one
  ansible/roles/configure-base/tasks/main.yml
Due: router:validate

fix(telegraf): authenticate via /api/auth for Pi-hole v6 session ID
  base/telegraf/scripts/pihole-stats.sh
  base/telegraf/telegraf.conf
Due: router:validate

fix(docker): add tautulli to internal network for nginx proxy
  docker/docker-compose.yml
Due: router:validate

fix(telegraf): clean up pihole sessions and fix tautulli URL
  base/telegraf/scripts/pihole-stats.sh
  base/telegraf/telegraf.conf
Due: router:validate

refactor: rename remaining moltbot references to openclaw
  .gitlab-ci.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  ansible/roles/fetch-vault-secrets/tasks/main.yml
  base/telegraf/telegraf.conf
  docker/docker-compose.yml
  scripts/check-updates.sh
  terraform/vault/outputs.tf
  terraform/vault/policies.tf
  terraform/vault/roles.tf
Due: router:validate, zwave:validate, satellite-2:validate, vault:configure, vault:validate

fix: increase docker compose timeout from 300s to 600s
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

security: separate database root and application passwords
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
  docs/SECRET_ROTATION.md
Due: router:validate

chore: update jackett 0.24.1223→0.24.1226, nzbget 20260213→20260227
  docker/docker-compose.yml
Due: router:validate

chore: bump jackett 0.24.1223→0.24.1234, nzbget 26.0.20260213→26.0.20260227
  docker/docker-compose.yml
Due: router:validate

security: protect base/telegraf/ in CODEOWNERS
  CODEOWNERS
Due: none

chore: update jackett, nzbget, zigbee2mqtt images
  docker/docker-compose.yml
Due: router:validate

fix: add restart policy to init containers and retry compose-up
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/docker-compose.yml
Due: router:validate

fix: tileserver healthcheck — use node instead of curl
  docker/docker-compose.yml
Due: router:validate

fix: add retries to docker compose task for flaky init containers
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

fix: add missing env vars for headway-frontend-init
  docker/docker-compose.yml
Due: router:validate

chore: bump zigbee2mqtt 2.9.1, jackett 0.24.1275
  docker/docker-compose.yml
Due: router:validate

chore: bump openclaw 2026.2.26 → 2026.3.1
  docker/openclaw/Dockerfile
Due: router:validate

fix: increase Loki max age and promtail resources
  docker/docker-compose.yml
  docker/loki/local-config.yaml
Due: router:validate

fix: downgrade promtail to 3.5.8 (journal support regression)
  docker/docker-compose.yml
Due: router:validate

chore: image updates 2026-03-04
  docker/docker-compose.yml
Due: router:validate

fix: remove docker access from regular claude SSH user
  ansible/roles/claude-user/tasks/main.yml
  ansible/router.yml
Due: router:validate

fix: compose hardening — healthchecks, logging, security
  docker/daemon.json
  docker/docker-compose-zwave.yml
  docker/docker-compose.yml
Due: router:validate, zwave:validate
