Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

router:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

zwave:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

satellite-2:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

router:deploy:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

zwave:deploy:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

satellite-2:deploy:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

fix(gitlab-runner): use array syntax for runner environment config
  base/gitlab-runner/config.toml
Due: none

fix: always deploy on main, add missing change detection paths
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

fix: correct resource limits based on actual 7-day usage data
  ansible/roles/configure-docker/tasks/main.yml
  docker/docker-compose.yml
Due: router:validate, router:deploy

chore: remove watchtower (replaced by image-update cron)
  README.md
  docker/docker-compose.yml
Due: router:validate, router:deploy

chore: store deluge core.conf in repo instead of inline regex replace
  ansible/roles/configure-docker/tasks/main.yml
  docker/deluge/core.conf
Due: router:validate, router:deploy

fix: migrate from deprecated nvidia-docker to nvidia-container-toolkit
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate, router:deploy

feat: image-update skill with digest pinning, never-auto-merge list, health verification
  MEMORY.md
  memory/2026-02-05.md
  memory/heartbeat-state.json
  memory/main-pipeline-state.json
  memory/moltbook-notes.md
  memory/open-mrs.json
  skills/gitlab/scripts/mr-comment-check.sh
  skills/image-update/SKILL.md
  skills/image-update/scripts/check-updates.sh
  website/README.md
Due: none

fix: guest subnet uses public DNS only, no Pi-hole/internal resolution
  networking/dhcp/dhcpd.conf
Due: router:validate, router:deploy

fix: Docker DNS resolution broken by daemon.json reload corruption
  ansible/roles/configure-docker/tasks/main.yml
  docker/daemon.json
Due: router:validate, router:deploy

fix: vendor restic role to fix pipeline install failure
  .gitlab-ci.yml
  ansible/requirements.yml
  ansible/roles/restic/.ansible-lint
  ansible/roles/restic/LICENSE
  ansible/roles/restic/README.md
  ansible/roles/restic/defaults/main.yml
  ansible/roles/restic/handlers/main.yml
  ansible/roles/restic/meta/main.yml
  ansible/roles/restic/tasks/install.yml
  ansible/roles/restic/tasks/main.yml
  ansible/roles/restic/templates/restic-backup.service.j2
  ansible/roles/restic/templates/restic-backup.timer.j2
  ansible/roles/restic/templates/restic_env.j2
  ansible/roles/restic/templates/ssh_config.j2
  ansible/roles/restic/templates/ssh_private_key.j2
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

fix: Docker apt repo for Debian hosts, NFS mount non-fatal
  ansible/roles/configure-docker/tasks/main.yml
  ansible/roles/configure-scanner/tasks/main.yml
Due: router:validate, router:deploy

fix: add loki-no-verify to daemon.json for log driver resilience
  docker/daemon.json
Due: router:validate, router:deploy

fix: configure msmtp for system email notifications
  ansible/roles/configure-notifications/tasks/main.yml
  base/backup-verify/backup-verify.sh
  base/disk/zed.rc
  base/msmtp/msmtprc
Due: router:validate, router:deploy

fix: skip Docker repo/install on Bullseye hosts
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate, router:deploy

fix: use actual bullseye Docker repo instead of skipping install
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate, router:deploy

fix: only deploy deluge core.conf on hosts that have deluge
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate, router:deploy

memory: Feb 5 infrastructure blitz continued
  memory/2026-02-05.md
  memory/main-pipeline-state.json
  memory/open-mrs.json
  skills/image-update/scripts/check-updates.sh
Due: none

fix: security hardening — SSH, Docker socket removal, network isolation, Vault TLS
  docker/docker-compose.yml
  docker/vault/config.hcl
  networking/iptables/rules.v4
Due: router:validate, router:deploy

feat: add GitLab Ultimate license encryption key
  ansible/inventory.yml
  docker/docker-compose.yml
  docker/gitlab/license_encryption_key.pub
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

memory: security architecture discussion, pipeline green, gitlab license
  memory/2026-02-05.md
  memory/open-mrs.json
Due: none

fix: allow SSH from WAN as out-of-band access when Tailscale is down
  networking/iptables/rules.v4
Due: router:validate, router:deploy

memory: final Feb 5 updates, session summary
  memory/2026-02-05.md
Due: none

fix: allow SSH from internal VLAN and Docker bridges for CI runner
  networking/iptables/rules.v4
Due: router:validate, router:deploy

debug: add network discovery to CI before_script
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

fix: add loopback accept rule for CI runner SSH access
  .gitlab-ci.yml
  networking/iptables/rules.v4
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

security: add no_log to tasks that template secrets
  ansible/roles/configure-base/tasks/main.yml
  ansible/roles/configure-docker/tasks/main.yml
  ansible/roles/configure-router-network/tasks/main.yml
Due: router:validate, router:deploy

fix(amcrest2mqtt): disable TLS to fix crash-loop on missing client certs
  docker/docker-compose.yml
Due: router:validate, router:deploy

fix: restart Docker after netfilter-persistent reload
  ansible/roles/configure-router-network/tasks/main.yml
Due: router:validate, router:deploy

docs: add Traefik migration design doc
  docs/TRAEFIK-MIGRATION.md
Due: none

feat: migrate secrets from GitLab CI/CD variables to HashiCorp Vault
  .gitlab-ci.yml
  ansible/inventory.yml
  ansible/requirements.yml
  ansible/roles/configure-base/tasks/main.yml
  ansible/roles/configure-router-network/tasks/main.yml
  ansible/router.yml
  ansible/satellite-2.yml
  ansible/vault_vars.yml
  ansible/zwave.yml
  docker/docker-compose.yml
  docker/homeassistant/configuration.yaml
  docker/zigbee2mqtt/configuration.yaml
  requirements.txt
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

feat: add Vault auto-unseal on container restart
  ansible/inventory.yml
  docker/docker-compose.yml
  docker/vault/README.md
  docker/vault/auto-unseal.sh
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

fix(amcrest2mqtt): retain MQTT TLS encryption with patched image
  .gitlab-ci.yml
  docker/docker-compose.yml
  docker/images/amcrest2mqtt/Dockerfile
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

fix: correct no_log indentation for LUKS password task
  ansible/roles/configure-base/tasks/main.yml
Due: router:validate, router:deploy

Add UI/API performance analysis to GitLab performance doc
  memory/gitlab-performance-analysis.md
Due: none

fix(ci): bump docker image to 27 for API 1.44 compat
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

fix(amcrest2mqtt): move patch to separate file for legacy docker builder
  docker/images/amcrest2mqtt/Dockerfile
  docker/images/amcrest2mqtt/patch.py
Due: router:validate, router:deploy

fix: remove invalid loki-no-verify log-opt from daemon.json
  docker/daemon.json
Due: router:validate, router:deploy

fix(amcrest2mqtt): use Alpine CA bundle path, always enforce CERT_REQUIRED
  docker/docker-compose.yml
  docker/images/amcrest2mqtt/patch.py
Due: router:validate, router:deploy

draft: add CODEOWNERS to prevent privilege escalation
  CODEOWNERS
Due: none

chore: remove dead code — orphaned pulse configs, unused wireguard role, duplicate BACKUP.md
  ansible/roles/configure-wireguard/tasks/main.yml
  base/pulse/system-satellite.pa
  base/pulse/system.pa
  docs/BACKUP.md
Due: router:validate, router:deploy

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  router:deploy: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, .gitlab-ci.yml
  zwave:deploy: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, .gitlab-ci.yml
  satellite-2:deploy: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, .gitlab-ci.yml
