Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, jit-approval-svc:test, moltbot:build, amcrest2mqtt:build, snapcast:build, jit-approval-svc:build, snapclient:build, chromium-browser:build, vault:configure, vault:validate

router:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

zwave:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

satellite-2:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

jit-approval-svc:test:
  interruptible: true
  stage: validate
  image: golang:1.22-alpine
  needs: []
  script:
  - cd docker/jit-approval-svc
  - go test -v -count=1 ./...

moltbot:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

amcrest2mqtt:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapcast:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

jit-approval-svc:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapclient:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

chromium-browser:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

vault:configure:
  stage: deploy
  image: alpine:3.19
  environment: admin
  needs: []
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
  before_script:
  - apk add --no-cache wget unzip
  - wget -q "https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip"
  ...

infra: add Navidrome music server and Lidarr for music management
  docker/docker-compose.yml
Due: router:validate

infra: add self-hosted OpenStreetMap stack (Valhalla, TileServer GL, Nominatim)
  docker/docker-compose.yml
Due: router:validate

osm: drop Nominatim, use public geocoding API instead
  docker/docker-compose.yml
Due: router:validate

osm: upgrade to full US extract, add Nominatim back
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
Due: router:validate

Remove Nominatim geocoding service — too resource-heavy for personal use
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
Due: router:validate

Remove RNDC key and fix .gitignore
  .gitignore
  networking/dhcp/rndc.key
Due: router:validate

Add self-hosted Nominatim geocoding service
  docker/docker-compose.yml
Due: router:validate

Use full North America extract for Nominatim and Valhalla
  docker/docker-compose.yml
Due: router:validate

fix: remove RNDC key deploy task (BIND not in use)
  ansible/roles/configure-router-network/tasks/main.yml
Due: router:validate

Pin Nominatim image digest for reproducibility
  docker/docker-compose.yml
Due: router:validate

chore: update jackett 0.24.1174→0.24.1178, nextcloud 32.0.5→32.0.6 (patch)
  docker/docker-compose.yml
Due: router:validate

chore: pin unpinned images to version tags (deluge, paperless-ngx, amcrest2mqtt)
  docker/docker-compose.yml
  docker/images/amcrest2mqtt/Dockerfile
Due: router:validate, amcrest2mqtt:build

Enable 1M context window for Opus models
  docker/moltbot/moltbot.json.j2
Due: router:validate, moltbot:build

fix: wire nominatim password through vault secret fetcher
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
Due: router:validate

fix: add required capabilities for maps containers
  docker/docker-compose.yml
Due: router:validate

feat: use least-privilege InfluxDB read token for Grafana
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
Due: router:validate

fix(docker): fix TileServer GL permissions and Nominatim restart loops
  docker/docker-compose.yml
Due: router:validate

fix: add tileserver data dir with correct ownership
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

Update ansible to deploy openclaw.json config instead of moltbot.json, move hooks directory to openclaw, update paths
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/openclaw/hooks/transforms/grafana.js
Due: router:validate

Migrate moltbot references to openclaw, clean up config
  .gitlab-ci.yml
  ansible/inventory.yml
  docker/openclaw/API_SERVICES.md
  docker/openclaw/Dockerfile
  docker/openclaw/agents/main/agent/auth-profiles.json
  docker/openclaw/mcporter/mcporter.json
  docker/openclaw/openclaw.json.j2
  scripts/check-updates.sh
Due: router:validate, zwave:validate, satellite-2:validate

Remove browser profiles from openclaw config
  docker/openclaw/openclaw.json.j2
Due: router:validate

Sync openclaw.json.j2 with live config, rename moltbot→openclaw across infra
  .gitlab-ci.yml
  CLAUDE.md
  ansible/inventory.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
  docker/grafana/provisioning/alerting/contactpoints.yml.j2
  docker/nginx/router.lab.nkontur.com/internal_http.conf
  docker/nginx/router.lab.nkontur.com/iot_http.conf
  docker/openclaw/openclaw.json.j2
  scripts/check-updates.sh
Due: router:validate, zwave:validate, satellite-2:validate

Remove old docker/moltbot/ directory and update references to docker/openclaw/
  CODEOWNERS
  docker/moltbot/API_SERVICES.md
  docker/moltbot/Dockerfile
  docker/moltbot/agents/main/agent/auth-profiles.json
  docker/moltbot/hooks/transforms/grafana.js
  docker/moltbot/mcporter/mcporter.json
  docker/moltbot/moltbot.json.j2
  docs/SECRET_ROTATION.md
Due: router:validate, moltbot:build

Remove browser section from openclaw.json.j2
  docker/openclaw/openclaw.json.j2
Due: router:validate

fix(valhalla): use north-america OSM extract instead of US-only
  docker/docker-compose.yml
Due: router:validate

Move config-change container restarts before docker compose up
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/openclaw/Dockerfile
Due: router:validate

chore: bump OpenClaw base image to 2026.2.22
  docker/openclaw/Dockerfile
Due: router:validate

pin: add sha256 digest for OpenClaw 2026.2.22
  docker/openclaw/Dockerfile
Due: router:validate

chore: remove bun and qmd from Dockerfile
  docker/openclaw/Dockerfile
Due: router:validate

fix: add pivot() to Grafana alert Flux queries for wide-format output
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

fix(grafana): remove unnecessary pivot from container-restart-loop alert
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

Fix valhalla container and disable EEE on WAN interface
  docker/docker-compose.yml
  networking/networkd/10-wan-usb-ethernet.link
Due: router:validate

Add nginx proxy entries for map stack services
  docker/nginx/router.lab.nkontur.com/internal_http.conf
Due: router:validate

feat: add ClawRouter wallet balance monitoring via Telegraf
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  base/telegraf/scripts/clawrouter-balance.sh
  base/telegraf/telegraf.conf
  docker/docker-compose-observability.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: add default filter for clawrouter wallet address variable
  docker/docker-compose-observability.yml
Due: router:validate, zwave:validate, satellite-2:validate

feat: add ClawRouter wallet balance monitoring via Telegraf
  base/telegraf/scripts/clawrouter-balance.sh
  docker/docker-compose-observability.yml
Due: router:validate, zwave:validate, satellite-2:validate

feat: add ClawRouter wallet balance monitoring via Telegraf
  ansible/roles/configure-base/tasks/main.yml
  base/telegraf/telegraf.conf
  docker/docker-compose-observability.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: add armhf architecture before installing snapclient
  ansible/roles/configure-snapclient/tasks/main.yml
Due: zwave:validate

chore: patch image updates 2026-02-24
  docker/docker-compose.yml
Due: router:validate

chore: update OpenClaw 2026.2.22 → 2026.2.23
  docker/openclaw/Dockerfile
Due: router:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, ansible/roles/fetch-vault-secrets/**/*, ansible/roles/restic/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-zwave.yml, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  jit-approval-svc:test: any of: docker/jit-approval-svc/**/*
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  jit-approval-svc:build: any of: docker/jit-approval-svc/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  chromium-browser:build: any of: docker/chromium-browser/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*
