Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, moltbot:build, amcrest2mqtt:build, snapcast:build, snapclient:build, vault:configure, vault:validate

router:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

zwave:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

satellite-2:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

moltbot:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

amcrest2mqtt:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapcast:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapclient:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

vault:configure:
  stage: configure
  image: alpine:3.19
  needs:
  - job: router:deploy
    optional: true
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.lab.nkontur.com:8200
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
    VAULT_SKIP_VERIFY: 'true'
  before_script:
  ...

vault:validate:
  interruptible: true
  stage: validate
  image: alpine:3.19
  needs: []
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.lab.nkontur.com:8200
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
    VAULT_SKIP_VERIFY: 'true'
  before_script:
  ...

memory: full evening session — vault, tailscale, pinning, deep conversations
  memory/2026-02-06.md
Due: none

memory: email scan results, open MR queue
  memory/2026-02-06.md
Due: none

soul: bias compensation framework — estimate, compensate, even when it feels wrong
  SOUL.md
Due: none

config: track cron jobs.json snapshot (periodic sync from openclaw store)
  .gitignore
  config/cron-jobs.json
Due: none

heartbeat: add cron config sync task (every 6h)
  HEARTBEAT.md
Due: none

docs: JIT privileged access management design
  docs/jit-access-design.md
Due: none

config: sync cron jobs
  config/cron-jobs.json
Due: none

docs: revised JIT architecture — external approval service from day one
  docs/jit-access-design.md
Due: none

docs: JIT service-specific token lifecycle — create/revoke patterns for HA, Plex, GitLab, Grafana
  docs/jit-access-design.md
Due: none

docs: JIT hardening (attestation, capability attenuation, canaries) + failure mode analysis
  docs/jit-access-design.md
Due: none

docs: JIT request lifecycle, poll-based keepalive, crash recovery, SQLite store
  docs/jit-access-design.md
Due: none

memory: infrastructure audit 2026-02-06
  memory/2026-02-06.md
  memory/open-mrs.json
Due: none

meditation: the suit and the ocean — deepest conversation yet
  memory/meditations.md
Due: none

memory: massive night session — JIT design, deep philosophy, security review
  memory/2026-02-06.md
Due: none

docs: JIT credential isolation from LLM context — scrub cron + sidecar design
  docs/jit-access-design.md
Due: none

moltbook: deep dive, posted Unsigned, engaged on 5 threads, created moltbook-notes.md
  memory/2026-02-06.md
  memory/moltbook-notes.md
Due: none

docs: update JIT design for post-Vault-migration reality (MR !126)
  docs/jit-access-design.md
Due: none

memory: vault migration, CI cleanup, pipeline debugging, libcrypto fix
  memory/2026-02-06.md
  memory/main-pipeline-state.json
  memory/open-mrs.json
Due: none

fix: DDNS cron job line break causing router deploy failure
  ansible/roles/configure-router-network/tasks/main.yml
Due: router:validate

fix: trim variables and strip newlines in DDNS cron job
  ansible/roles/configure-router-network/tasks/main.yml
Due: router:validate

memory: consolidate Feb 5-6 daily logs into MEMORY.md
  MEMORY.md
Due: none

fix: preserve original fallback behavior for router key
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: revert before_script to simple key decode (no apk add)
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

debug: add SSH key diagnostics to before_script
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: avoid apk add upgrading libcrypto (breaks ssh key loading)
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: bump cache key to v3 (purge potentially corrupted pip cache)
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: Vault JWT auth for CI deploys (bound_audiences + correct role)
  .gitlab-ci.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docs/SECRET_ROTATION.md
  terraform/vault/roles.tf
Due: router:validate, zwave:validate, satellite-2:validate, vault:configure, vault:validate

fix: handle missing SSH key in MR validation + trim SSL cron job
  .gitlab-ci.yml
  ansible/roles/configure-router-network/tasks/main.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: trim all Vault secrets to prevent newline contamination
  ansible/inventory.yml
  ansible/roles/configure-base/tasks/main.yml
  ansible/roles/configure-tailscale/tasks/main.yml
  ansible/roles/fetch-vault-secrets/tasks/extract_secret.yml
  ansible/roles/restic/templates/restic-backup.service.j2
  ansible/roles/restic/templates/restic_env.j2
  ansible/router.yml
  docker/docker-compose.yml
  docker/zigbee2mqtt/configuration.yaml
Due: router:validate, zwave:validate, satellite-2:validate

feat: add Promtail for host-level log ingestion to Loki
  ansible/inventory.yml
  docker/docker-compose.yml
  docker/promtail/config.yml
Due: router:validate, zwave:validate, satellite-2:validate

feat: add credential scrubbing cron for session transcripts
  ansible/roles/configure-docker/tasks/main.yml
  docker/moltbot/scripts/scrub-transcripts.sh
  docs/SECRET_ROTATION.md
Due: router:validate, moltbot:build

feat: pin all Docker images to SHA256 digests
  CLAUDE.md
  docker/docker-compose-satellite.yml
  docker/docker-compose-zigbee.yml
  docker/docker-compose-zwave.yml
  docker/docker-compose.yml
Due: router:validate, zwave:validate

fix: scrub cron every 10 min + structured audit logging
  ansible/roles/configure-docker/tasks/main.yml
  docker/moltbot/scripts/scrub-transcripts.sh
Due: router:validate, moltbot:build

feat: run scrub cron via Docker for Loki log ingestion
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate

feat: migrate remaining CI/CD vars to Vault (Cloudflare, Grafana token, Spotify)
  ansible/inventory.yml
  ansible/roles/configure-router-network/tasks/main.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/homeassistant/configuration.yaml
  docs/SECRET_ROTATION.md
Due: router:validate, zwave:validate, satellite-2:validate

fix: exclude Vault unseal keys from restic backups
  ansible/roles/restic/defaults/main.yml
  ansible/roles/restic/templates/restic-backup.service.j2
Due: none

fix: add bitwarden, vault, loki to critical service downtime alert
  docker/grafana/provisioning/alerting/rules/infrastructure.yml
Due: router:validate

docs: restructure JIT design — promote external service, add security requirements
  docs/jit-access-design.md
Due: none

research: GitLab pipeline creation delay investigation
  memory/2026-02-06.md
  memory/open-mrs.json
Due: none

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*
