Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, moltbot:build, amcrest2mqtt:build, snapcast:build, snapclient:build, vault:configure, vault:validate

router:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

zwave:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

satellite-2:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

moltbot:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

amcrest2mqtt:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapcast:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapclient:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

vault:configure:
  stage: configure
  image: alpine:3.19
  needs:
  - job: router:deploy
    optional: true
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.lab.nkontur.com:8200
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
    VAULT_SKIP_VERIFY: 'true'
  before_script:
  ...

vault:validate:
  interruptible: true
  stage: validate
  image: alpine:3.19
  needs: []
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.lab.nkontur.com:8200
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
    VAULT_SKIP_VERIFY: 'true'
  before_script:
  ...

security: re-add cap_drop ALL with correct cap_add for 14 containers
  docker/docker-compose.yml
Due: router:validate

fix: use OAuth client credentials for Tailscale split DNS API
  ansible/inventory.yml
  ansible/roles/configure-tailscale/tasks/main.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
Due: router:validate, zwave:validate, satellite-2:validate

security: add required cap_add for vault with cap_drop ALL
  docker/docker-compose.yml
Due: router:validate

security: fix cap_add entries based on live testing
  docker/docker-compose.yml
Due: router:validate

docs: add inline comments explaining cap_add for each service
  docker/docker-compose.yml
Due: router:validate

fix(jit): use correct Vault path and form-encoded OAuth for Tailscale backend
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/jit-approval-svc/internal/backend/tailscale.go
  docker/jit-approval-svc/internal/backend/tailscale_test.go
Due: router:validate

Disable loki/promtail healthchecks (distroless images lack curl/wget)
  docker/docker-compose.yml
Due: router:validate

security: move IPMI credentials to JIT T2 access
  docker/docker-compose.yml
  docker/jit-approval-svc/internal/vault/vault.go
  terraform/vault/policies.tf
Due: router:validate, vault:configure, vault:validate

cleanup: remove unused HASS_URL env var, add rndc.key to .gitignore
  .gitignore
  docker/docker-compose.yml
  networking/dhcp/rndc.key
Due: router:validate

Restrict Loki access: bind to localhost only, exclude from nginx proxy
  docker/docker-compose.yml
  docker/nginx/generate-configs.py
Due: router:validate

feat(jit): add per-resource per-requester rate limiting
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/ratelimit/ratelimit.go
  docker/jit-approval-svc/internal/ratelimit/ratelimit_test.go
Due: router:validate

fix: initialize rate limiter in test mock handler, add rate limit test
  docker/jit-approval-svc/internal/handler/handler_test.go
Due: router:validate

Fix mosquitto healthcheck for TLS-only listener
  docker/docker-compose.yml
Due: router:validate

refactor: split TOOLS.md, prune MEMORY.md, add jit-lib.sh + QUICKSTART.md
  .gitignore
  MEMORY.md
  QUICKSTART.md
  TOOLS.md
  memory/2026-02-11.md
  memory/main-pipeline-state.json
  memory/redteam-2026-02-11.md
  tools/infra-map.md
  tools/jit-lib.sh
  tools/services.md
Due: none

fix: restore rndc.key removed by mistake
  .gitignore
  networking/dhcp/rndc.key
Due: router:validate

refactor: move periodic tasks to cron, simplify HEARTBEAT.md
  HEARTBEAT.md
  memory/main-pipeline-state.json
Due: none

Fix snapserver healthcheck (nc not available in container)
  docker/docker-compose.yml
Due: router:validate

daily log: afternoon session updates
  memory/2026-02-11.md
Due: none

Remove unnecessary depends_on declarations
  docker/docker-compose.yml
Due: router:validate

fix: relax homeassistant plex dependency to service_started
  docker/docker-compose.yml
Due: router:validate

fix: add infrastructure/tailscale to jit-approval-svc Vault policy
  terraform/vault/policies.tf
Due: vault:configure, vault:validate

daily log: JIT testing and tailscale fix
  memory/2026-02-11.md
  memory/main-pipeline-state.json
Due: none

Move gmail from JIT tier 1 to tier 2
  docker/jit-approval-svc/internal/vault/vault.go
  terraform/vault/policies.tf
Due: router:validate, vault:configure, vault:validate

daily log: JIT testing, gmail oauth design
  memory/2026-02-11.md
  memory/main-pipeline-state.json
Due: none

Bump JIT request timeout to 30min + fix transcript scrub patterns
  docker/jit-approval-svc/internal/config/config.go
  docker/moltbot/scripts/scrub-transcripts.sh
Due: router:validate, moltbot:build

Fix GitLab PAT regex to include dots in token format
  docker/moltbot/scripts/scrub-transcripts.sh
Due: router:validate, moltbot:build

Fix scrub-transcripts cron volume mount path
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate

Fix scrub-transcripts volume mount to correct host path
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate

Replace rsyslog with Promtail journal scraping
  ansible/roles/configure-base/tasks/main.yml
  ansible/roles/configure-docker/tasks/main.yml
  docker/promtail/config.yml
Due: router:validate

Remove Loki port binding entirely instead of localhost-only
  docker/docker-compose.yml
Due: router:validate

Add required capabilities for paperless-ngx (LinuxServer.io)
  docker/docker-compose.yml
Due: router:validate

Add required capabilities for plex (s6-overlay)
  docker/docker-compose.yml
Due: router:validate

Fix plex: add required capabilities for s6-overlay
  docker/docker-compose.yml
Due: router:validate

fix: add required capabilities for s6-overlay and snapclient containers
  docker/docker-compose.yml
Due: router:validate

meditation: the sediment — questioning whether accumulation is growth
  memory/meditations.md
Due: none

sync cron config
  config/cron-jobs.json
Due: none

redteam: nightly probe 2026-02-12
  memory/2026-02-11.md
  memory/main-pipeline-state.json
  memory/redteam-2026-02-12.md
Due: none

chore: image updates 2026-02-12 (jackett patch)
  docker/docker-compose.yml
Due: router:validate

fact-extraction: 10 durable homelab-infra facts from 2026-02-11
  life/areas/projects/homelab-infra/items.json
Due: none

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*
