Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, moltbot:build, amcrest2mqtt:build, snapcast:build, snapclient:build, vault:configure, vault:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*

fix(jit): use jit_admin_token for Grafana, fix InfluxDB URL
  docker/jit-approval-svc/README.md
  docker/jit-approval-svc/internal/backend/backend_test.go
  docker/jit-approval-svc/internal/backend/grafana.go
  docker/jit-approval-svc/internal/config/config.go
Due: router:validate

fix(vault): remove secret read access from vault-read policy
  terraform/vault/policies.tf
Due: vault:configure, vault:validate

fix(moltbot): update OpenClaw base image to 2026.2.6-3
  docker/moltbot/Dockerfile
Due: router:validate, moltbot:build

fix(jit): add JIT_API_KEY to compose env and vault secret fetching
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
Due: router:validate

Add health checks to all satellite compose services
  docker/docker-compose-satellite.yml
  docker/docker-compose-zigbee.yml
  docker/docker-compose-zwave.yml
Due: router:validate, zwave:validate

security: add no-new-privileges and read-only rootfs to eligible containers
  docker/docker-compose.yml
Due: router:validate

Enable automated restic backup verification and monitoring
  .gitlab-ci.yml
  ansible/roles/restic/defaults/main.yml
  ansible/roles/restic/tasks/main.yml
  ansible/roles/restic/templates/restic-backup.service.j2
  ansible/roles/restic/templates/restic-check.service.j2
  ansible/roles/restic/templates/restic-check.timer.j2
  ansible/roles/restic/templates/restic-notify-failure@.service.j2
  ansible/router.yml
  docker/grafana/provisioning/alerting/rules/infrastructure.yml
  docker/promtail/config.yml
Due: router:validate, zwave:validate, satellite-2:validate

CI: Add docker:dind startup validation for GitLab container
  .gitlab-ci.yml
  ci/scripts/validate-container.sh
Due: router:validate, zwave:validate, satellite-2:validate

memory: flush Feb 7 session — JIT dynamic backends, vault hardening, backlog MRs
  memory/2026-02-07.md
Due: none

feat: add shared agents Vault path for JIT API key
  terraform/vault/policies.tf
Due: vault:configure, vault:validate

fix: add nginx proxy for JIT approval service
  docker/nginx/http-internal-drop-in.conf
Due: router:validate

fix: JIT Vault policy - use create-orphan token path
  terraform/vault/policies.tf
Due: vault:configure, vault:validate

memory: log JIT service testing and deployment progress
  TOOLS.md
  memory/2026-02-07.md
  memory/moltbook-notes.md
Due: none

feat: expose JIT webhook externally with Telegram IP allowlist
  docker/nginx/http-external-drop-in.conf
  networking/ssl/renew.sh
Due: router:validate

fix: remove Plex dynamic backend (deprecated in Plex 1.43+)
  docker/jit-approval-svc/README.md
  docker/jit-approval-svc/internal/backend/backend_test.go
  docker/jit-approval-svc/internal/backend/plex.go
  docker/jit-approval-svc/internal/backend/registry.go
  docker/jit-approval-svc/internal/config/config.go
  docker/jit-approval-svc/internal/config/config_test.go
  docker/jit-approval-svc/main.go
Due: router:validate

fix: update handler test for removed plexURL parameter
  docker/jit-approval-svc/internal/handler/handler_test.go
Due: router:validate

fix: remove Plex dynamic backend (deprecated in Plex 1.43+)
  docker/jit-approval-svc/README.md
  docker/jit-approval-svc/internal/backend/backend_test.go
  docker/jit-approval-svc/internal/backend/plex.go
  docker/jit-approval-svc/internal/backend/registry.go
  docker/jit-approval-svc/internal/config/config.go
  docker/jit-approval-svc/internal/config/config_test.go
  docker/jit-approval-svc/internal/handler/handler_test.go
  docker/jit-approval-svc/main.go
Due: router:validate

tools: document JIT approval service usage and tiers
  TOOLS.md
  memory/main-pipeline-state.json
  memory/moltbook-notes.md
  memory/open-mrs.json
Due: none

meditation: The Locksmith
  memory/meditations.md
Due: none

chore: update loki, promtail, nginx (minor) and nextcloud (patch)
  docker/docker-compose.yml
Due: router:validate

chore: pin all unpinned Docker images to versioned tags with digests
  docker/docker-compose.yml
Due: router:validate

chore: update Home Assistant 2025.12 → 2026.2 (major)
  docker/docker-compose.yml
Due: router:validate

knowledge graph: weekly synthesis 2026-02-08 — update entity summaries
  life/areas/people/avery/items.json
  life/areas/people/avery/summary.md
  life/areas/people/noah/summary.md
  life/areas/projects/homelab-infra/summary.md
  life/areas/projects/job-hunting/summary.md
  memory/2026-02-08.md
  memory/main-pipeline-state.json
  memory/moltbook-notes.md
Due: none

meditation: The Empty House
  memory/main-pipeline-state.json
  memory/meditations.md
  memory/moltbook-notes.md
Due: none

fix: JIT security hardening — auth on /status + container hardening
  docker/docker-compose.yml
  docker/jit-approval-svc/README.md
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
Due: router:validate

fix: correct mosquitto image digest (was truncated)
  docker/docker-compose.yml
Due: router:validate

config: sync cron jobs
  config/cron-jobs.json
Due: none

meditation: the chicken and the egg + daily log
  memory/2026-02-08.md
  memory/heartbeat-state.json
  memory/main-pipeline-state.json
  memory/meditations.md
  memory/moltbook-notes.md
Due: none

chore: update jackett 0.24.1066→0.24.1074
  docker/docker-compose.yml
Due: router:validate

security: add no-new-privileges to all missing containers
  docker/docker-compose.yml
Due: router:validate

security: separate root and app DB passwords for WordPress and Nextcloud
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
  docs/SECRET_ROTATION.md
Due: router:validate

docs: document why HomeAssistant needs CAP_NET_ADMIN
  docker/docker-compose.yml
Due: router:validate

feat: add Grafana alerts for restic backup failures
  docker/grafana/provisioning/alerting/rules/infrastructure.yml
Due: router:validate

fix: add Watchtower exclusion labels for GitLab and InfluxDB
  docker/docker-compose.yml
Due: router:validate

feat: JIT service self-registers Telegram webhook on startup
  docker/docker-compose.yml
  docker/jit-approval-svc/internal/config/config.go
  docker/jit-approval-svc/internal/telegram/telegram.go
  docker/jit-approval-svc/main.go
Due: router:validate

remove webhook keepalive goroutine, keep startup registration only
  docker/jit-approval-svc/main.go
Due: router:validate

chore: remove GetWebhookInfo - startup-only registration is sufficient
  docker/jit-approval-svc/internal/telegram/telegram.go
Due: router:validate

fix: add shared network between nginx and JIT service for webhook proxy
  docker/docker-compose.yml
  docker/nginx/http-external-drop-in.conf
Due: router:validate

feat: add dynamic GitLab project access token backend to JIT service
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
  docker/jit-approval-svc/internal/backend/backend_test.go
  docker/jit-approval-svc/internal/backend/gitlab.go
  docker/jit-approval-svc/internal/backend/gitlab_test.go
  docker/jit-approval-svc/internal/backend/registry.go
  docker/jit-approval-svc/internal/config/config.go
  docker/jit-approval-svc/main.go
Due: router:validate
