Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, jit-approval-svc:test, moltbot:build, amcrest2mqtt:build, snapcast:build, jit-approval-svc:build, snapclient:build, chromium-browser:build, vault:configure, vault:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, ansible/roles/fetch-vault-secrets/**/*, ansible/roles/restic/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-zwave.yml, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  jit-approval-svc:test: any of: docker/jit-approval-svc/**/*
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  jit-approval-svc:build: any of: docker/jit-approval-svc/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  chromium-browser:build: any of: docker/chromium-browser/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*

fix(chromium): force WebGL via SwiftShader ANGLE backend
  docker/chromium-browser/entrypoint.sh
Due: router:validate, chromium-browser:build

feat(ansible): add cron to sync homelab repo for openclaw agent
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

fix(tileserver): set correct ownership on config.json for UID 1000
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(headway): limit nginx DNS cache TTL to 10s
  docker/headway/nginx.conf.template
Due: router:validate

fix(nut): remove invalid MAXSTARTDELAY from upsmon.conf, fix UTF-8 chars
  base/nut/ups.conf
  base/nut/upsmon.conf
Due: router:validate

feat(openclaw): add pentesting toolkit for red team operations
  docker/openclaw/Dockerfile
Due: router:validate

fix: install nikto from git (not in base image apt repos)
  docker/openclaw/Dockerfile
Due: router:validate

feat(jit): add per-resource TTL overrides for workstation SSH (8h)
  docker/jit-approval-svc/internal/config/config.go
  docker/jit-approval-svc/internal/config/config_test.go
  docker/jit-approval-svc/internal/handler/handler.go
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build

feat(jit): allow clients to request custom TTL, capped at resource max
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
  docker/jit-approval-svc/internal/store/store.go
  terraform/vault/ssh.tf
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build, vault:configure, vault:validate

fix(jit): use T1 grafana resource in TTL tests (SSH requires min T2)
  docker/jit-approval-svc/internal/handler/handler_test.go
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build

fix: update remaining vault_moltbot references to vault_openclaw
  docker/grafana/provisioning/alerting/contactpoints.yml.j2
  docker/openclaw/openclaw.json.j2
Due: router:validate

fix: update missed vault_moltbot references to vault_openclaw
  docker/grafana/provisioning/alerting/contactpoints.yml.j2
  docker/openclaw/openclaw.json.j2
Due: router:validate

fix: upsert CI variable in AppRole rotation job
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: use GITLAB_API_TOKEN CI variable for AppRole rotation
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

rename GITLAB_API_TOKEN to APPROLE_ROTATION_PAT
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: persist VAULT_APPROLE_ROLE_ID in AppRole rotation job
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: update J2 (privileged_access_point_2) MAC address
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

feat: add noVNC web-based remote desktops for job machines
  DISASTER_RECOVERY.md
  ansible/inventory.yml
  docker/docker-compose.yml
  docker/nginx/lab.nkontur.com/http.conf
Due: router:validate, zwave:validate, satellite-2:validate

rename noVNC services from job-specific to generic dev names
  DISASTER_RECOVERY.md
  ansible/inventory.yml
  docker/docker-compose.yml
  docker/nginx/lab.nkontur.com/http.conf
Due: router:validate, zwave:validate, satellite-2:validate

Upgrade noVNC to 1.5.0 for macOS Screen Sharing compatibility
  docker/docker-compose.yml
  docker/novnc/Dockerfile
Due: router:validate

fix: remove novnc build context, use cuteminded/novnc:latest directly
  docker/docker-compose.yml
  docker/novnc/Dockerfile
Due: router:validate

chore: update gitlab-ee 18.9.2, jackett 0.24.1350, tempo 2.10.2
  docker/docker-compose.yml
Due: router:validate

fix: right-size container memory limits from March 2026 audit
  docker/docker-compose.yml
Due: router:validate

Add CI build job for custom noVNC image
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: disable Tempo healthcheck for distroless 2.10.2 image
  docker/docker-compose.yml
Due: router:validate

Disable Docker iptables management on router
  docker/daemon.json
  docs/FIREWALL.md
Due: router:validate

security: separate database root and application passwords
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
  docs/SECRET_ROTATION.md
Due: router:validate

chore: update jackett 0.24.1350 → 0.24.1367 (patch)
  docker/docker-compose.yml
Due: router:validate

fix: increase deluge memory limit from 2G to 3G
  docker/docker-compose.yml
Due: router:validate

Upgrade librespot to v0.8.0 and use release build
  docker/images/snapcast/Dockerfile
Due: router:validate, snapcast:build

fix(snapcast): add libssl-dev for librespot 0.8.0 openssl-sys build
  docker/images/snapcast/Dockerfile
Due: router:validate, snapcast:build

chore: update jackett 0.24.1367 → 0.24.1368 (patch)
  docker/docker-compose.yml
Due: router:validate

security: add hardening to unhardened Headway/Pelias containers
  docker/docker-compose.yml
Due: router:validate

fix: add browser.cdpUrl pointing to chromium-browser sidecar
  docker/openclaw/openclaw.json.j2
Due: router:validate

fix: disable sandbox browser — use external chromium sidecar via cdpUrl
  docker/openclaw/openclaw.json.j2
Due: router:validate

fix: security hardening — pprof, DNS leak, git hooks
  docker/docker-compose.yml
  docker/openclaw/entrypoint-wrapper.sh
Due: router:validate

fix: increase deluge memory limit 3G → 4G
  docker/docker-compose.yml
Due: router:validate

Add TLS cert expiry monitoring and iperf3 healthcheck
  docker/docker-compose.yml
  docker/telegraf/telegraf.conf
Due: router:validate

chore: update gitlab-ee 18.9.2 → 18.10.0
  docker/docker-compose.yml
Due: router:validate
