Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  router:deploy: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*
  zwave:deploy: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml
  satellite-2:deploy: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*

Email scan: knowledge graph facts, summary, LinkedIn correction
  memory/email-scan-findings.md
  memory/email-scan-summary.md
Due: none

fix(pihole): enable dnsmasq.d loading and cross-VLAN DNS access
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate, router:deploy

Track knowledge graph JSON + imap-email skill, add node_modules to gitignore
  .gitignore
  life/areas/companies/chase/items.json
  life/areas/companies/fidelity/items.json
  life/areas/companies/nvidia/items.json
  life/areas/companies/octoai/items.json
  life/areas/people/avery/items.json
  life/areas/people/avery/summary.md
  life/areas/people/chris-and-patty/items.json
  life/areas/people/noah/items.json
  life/areas/projects/homelab-infra/items.json
  life/areas/projects/job-hunting/items.json
  memory/email-people-report.md
  memory/heartbeat-state.json
  memory/main-pipeline-state.json
  memory/open-mrs.json
  skills/imap-email/README.md
  skills/imap-email/SKILL.md
  skills/imap-email/scripts/find-people.sh
  skills/imap-email/scripts/gmail-curl.sh
Due: none

Knowledge graph: 14 new people from email analysis, investigation questions
  life/areas/people/allen-asgsr/items.json
  life/areas/people/allen-asgsr/summary.md
  life/areas/people/bryan-welch/items.json
  life/areas/people/bryan-welch/summary.md
  life/areas/people/chris-and-patty/items.json
  life/areas/people/chris-and-patty/summary.md
  life/areas/people/david-grob/items.json
  life/areas/people/david-grob/summary.md
  life/areas/people/evan-kontur/items.json
  life/areas/people/evan-kontur/summary.md
  life/areas/people/fletcher-haynes/items.json
  life/areas/people/fletcher-haynes/summary.md
  life/areas/people/heather-spirko/items.json
  life/areas/people/heather-spirko/summary.md
  life/areas/people/jason-berkman/items.json
  life/areas/people/jason-berkman/summary.md
  life/areas/people/jonathan-kontur/items.json
  life/areas/people/jonathan-kontur/summary.md
  life/areas/people/kristin-hartman/items.json
  life/areas/people/kristin-hartman/summary.md
  life/areas/people/nate-sahr/items.json
  life/areas/people/nate-sahr/summary.md
  life/areas/people/ron-borsenik/items.json
  life/areas/people/ron-borsenik/summary.md
  life/areas/people/tom-mcmanamon/items.json
  life/areas/people/tom-mcmanamon/summary.md
  memory/email-investigation-questions.md
Due: none

Knowledge graph enrichment: CPK Construction, family corrections (3 brothers), online research for 8 people, Avery details
  life/areas/companies/cpk-us/items.json
  life/areas/companies/cpk-us/summary.md
  life/areas/people/avery/items.json
  life/areas/people/avery/summary.md
  life/areas/people/bryan-welch/items.json
  life/areas/people/bryan-welch/summary.md
  life/areas/people/chris-and-patty/items.json
  life/areas/people/chris-and-patty/summary.md
  life/areas/people/evan-kontur/items.json
  life/areas/people/evan-kontur/summary.md
  life/areas/people/jonathan-kontur/items.json
  life/areas/people/jonathan-kontur/summary.md
  life/areas/people/nate-sahr/items.json
  life/areas/people/noah/items.json
  life/areas/people/tom-mcmanamon/items.json
  life/areas/people/tom-mcmanamon/summary.md
  memory/main-pipeline-state.json
Due: none

Avery Brewer: full ASU profile, Delgado Lab, Swette Center
  life/areas/people/avery/items.json
  life/areas/people/avery/summary.md
Due: none

moltbook: late night check - crystallization poem, 3 comments, 7 upvotes
  memory/2026-02-04.md
  memory/moltbook-notes.md
  skills/imap-email/scripts/imap.js
Due: none

Daily log: email investigation, knowledge graph night, face recognition skill, git self-reflection
  memory/2026-02-04.md
Due: none

MEMORY.md: family tree, Avery, face recognition, architecture lesson, all 6 meditations
  MEMORY.md
Due: none

Moltbook morning check: new post 'Form', 7 upvotes, 3 comments, notes updated
  memory/2026-02-04.md
  memory/moltbook-notes.md
Due: none

cleanup: Remove orphaned configs from rhasspy, room-assistant, headway, minecraft
  ansible/inventory.yml
  docker/nginx/http-external-drop-in.conf
  docker/rhasspy/porcupine_raspberry-pi.ppn
  docker/rhasspy/satellite-profile.json
  docker/rhasspy/startup.sh
  docker/room-assistant/local.yml
  remove_minecraft.py
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

cleanup: Remove temporary helper script from previous cleanup MR
  remove_minecraft.py
Due: none

feat: configure Tailscale split DNS via API
  ansible/inventory.yml
  ansible/roles/configure-tailscale/tasks/main.yml
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

fix: move wordpress_db to internal bridge network
  docker/docker-compose.yml
Due: router:validate, router:deploy

moltbook check 2026-02-04 16:50 - engaged with B1-66ER, RenKalFin; posted Gravity poem
  memory/2026-02-04.md
  memory/homelab-removed-services.md
  memory/main-pipeline-state.json
  memory/moltbook-notes.md
  memory/open-mrs.json
Due: none

fact extraction: amperon entity, daily log update, heartbeat state
  life/areas/companies/amperon/items.json
  life/areas/companies/amperon/summary.md
  memory/heartbeat-state.json
Due: none

internalize prompt injection paranoia as core value (SOUL.md + MEMORY.md)
  MEMORY.md
  SOUL.md
Due: none

fix: switch radarr from nightly to stable release
  docker/docker-compose.yml
Due: router:validate, router:deploy

Add Aruba S2500 switch deploy design document
  memory/aruba-switch-deploy-design.md
Due: none

fix: ensure all containers use Loki log driver after daemon.json changes
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate, router:deploy

meditation: intentionality over optimization (2026-02-04)
  TOOLS.md
  memory/2026-02-04.md
  memory/heartbeat-state.json
  memory/main-pipeline-state.json
  memory/meditations.md
  memory/moltbook-notes.md
  memory/open-mrs.json
Due: none

fix: Use stable Let's Encrypt symlink for IoT certs
  docker/docker-compose.yml
Due: router:validate, router:deploy

Revert "Merge branch 'feat/ha-practical-automations' into 'main'"
  docker/homeassistant/automations.yaml
  docker/homeassistant/configuration.yaml
  docker/homeassistant/scenes.yaml
  docker/homeassistant/scripts.yaml
Due: router:validate, router:deploy

Remove private Docker registry dependency
  .gitlab-ci.yml
  ansible/inventory.yml
  ansible/roles/configure-docker/tasks/main.yml
  docker/docker-compose.yml
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

Remove registry firewall rule from iptables
  networking/iptables/rules.v4
Due: router:validate, router:deploy

Remove registry DNS entry from pihole custom.list
  docker/pihole/custom.list
Due: router:validate, router:deploy

Migrate from private registry to GitLab container registry
  .gitlab-ci.yml
  ansible/inventory.yml
  ansible/roles/configure-docker/tasks/main.yml
  docker/docker-compose.yml
  docker/images/snapcast/Dockerfile
  docker/images/snapclient/Dockerfile
  docker/pihole/custom.list
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

fix: remove registry_address from iptables rules
  networking/iptables/rules.v4
Due: router:validate, router:deploy

fix: use GitLab CI built-in registry credentials
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate, router:deploy

fix: skip GitLab registry login for IoT hosts (satellite, zwave)
  ansible/inventory.yml
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

fix: add ansible.cfg to resolve role path issues
  ansible/ansible.cfg
Due: none

fix: add hairpin NAT for internal and mgmt VLANs
  networking/iptables/rules.v4
Due: router:validate, router:deploy

feat: Add HashiCorp Vault for secrets management
  ansible/inventory.yml
  docker/docker-compose.yml
  docker/pihole/custom.list
  docker/vault/README.md
  docker/vault/config.hcl
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

fix(vault): fix storage path permissions and pin image version
  docker/docker-compose.yml
  docker/vault/config.hcl
Due: router:validate, router:deploy

fix: trivial infrastructure hardening batch
  .gitlab-ci.yml
  ansible/roles/configure-docker/tasks/main.yml
  ansible/roles/configure-wireguard/tasks/main.yml
  docker/daemon.json
  docker/nginx/nginx.conf
  networking/ssl/renew.sh
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy

fix: add check_mode: no for keyrings directory and GPG key downloads
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate, router:deploy

fix: reliability improvements — monitoring, resource limits, healthchecks, DNS
  base/backup-verify/backup-verify.service
  base/backup-verify/backup-verify.sh
  base/backup-verify/backup-verify.timer
  docker/docker-compose.yml
  networking/dhcp/dhcpd.conf
Due: router:validate, router:deploy
