Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, jit-approval-svc:test, moltbot:build, amcrest2mqtt:build, snapcast:build, jit-approval-svc:build, snapclient:build, chromium-browser:build, vault:configure, vault:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, ansible/roles/fetch-vault-secrets/**/*, ansible/roles/restic/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-zwave.yml, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  jit-approval-svc:test: any of: docker/jit-approval-svc/**/*
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  jit-approval-svc:build: any of: docker/jit-approval-svc/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  chromium-browser:build: any of: docker/chromium-browser/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*

fix: compose hardening — healthchecks, logging, security
  docker/daemon.json
  docker/docker-compose-zwave.yml
  docker/docker-compose.yml
Due: router:validate, zwave:validate

fix: restrict media device firewall rules (#44)
  networking/iptables/rules.v4
Due: router:validate

fix: remove Loki retention_period — keep logs forever
  docker/loki/local-config.yaml
Due: router:validate

fix: allow Nextcloud web UI upgrades
  ansible/inventory.yml
  docker/docker-compose.yml
  docker/nextcloud/custom.config.php
Due: router:validate, zwave:validate, satellite-2:validate

fix: travelmux healthcheck YAML escape error
  docker/docker-compose.yml
Due: router:validate

feat: add pdflatex to OpenClaw container
  docker/openclaw/Dockerfile
Due: router:validate

feat: shared uploads volume between openclaw and chromium
  docker/docker-compose.yml
Due: router:validate

fix: match chromium user UID to openclaw for shared uploads
  docker/chromium-browser/Dockerfile
Due: router:validate, chromium-browser:build

fix: extract iMessage text from attributedBody when text column is NULL
  ansible/roles/claude-user-macos/templates/check-new.sh.j2
Due: none

Fix pam_limits memlock warnings on cron sessions
  ansible/roles/configure-base/tasks/main.yml
Due: router:validate

Add tautulli to JIT tier 1 auto-approve resources
  docker/jit-approval-svc/internal/vault/vault.go
  terraform/vault/policies.tf
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build, vault:configure, vault:validate

chore: pin headway/pelias images + patch vault & jackett
  docker/docker-compose.yml
Due: router:validate

feat: add resource limits to Headway/Pelias init containers
  docker/docker-compose.yml
Due: router:validate

fix: pin Headway/Pelias stack images with sha256 digests
  docker/docker-compose.yml
Due: router:validate

feat: add BlueBubbles as iMessage channel for OpenClaw
  ansible/macmini.yml
  ansible/roles/bluebubbles/defaults/main.yml
  ansible/roles/bluebubbles/files/com.user.poke-messages.plist
  ansible/roles/bluebubbles/files/poke-messages.scpt
  ansible/roles/bluebubbles/handlers/main.yml
  ansible/roles/bluebubbles/tasks/main.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/openclaw/openclaw.json.j2
Due: router:validate

feat: enable OpenClaw OTLP diagnostics (metrics + traces)
  docker/openclaw/openclaw.json.j2
Due: router:validate

feat: add Grafana Alloy for OpenClaw OTLP metric ingestion
  ansible/inventory.yml
  base/telegraf/telegraf.conf
  docker/alloy/config.alloy
  docker/docker-compose.yml
  docker/openclaw/openclaw.json.j2
Due: router:validate, zwave:validate, satellite-2:validate

feat: containerize Telegraf for consistent deployment and Docker networking
  ansible/inventory.yml
  ansible/roles/configure-base/tasks/main.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
  base/telegraf/telegraf-sudoers
  docker/docker-compose.yml
  docker/telegraf/scripts/clawrouter-balance.sh
  docker/telegraf/scripts/deluge-stats.sh
  docker/telegraf/scripts/pihole-stats.sh
  docker/telegraf/telegraf.conf
Due: router:validate, zwave:validate, satellite-2:validate

fix: re-enable all four disabled Telegraf inputs in container
  ansible/inventory.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/docker-compose.yml
  docker/telegraf/Dockerfile
  docker/telegraf/telegraf.conf
Due: router:validate, zwave:validate, satellite-2:validate

ci: add telegraf:build job and use registry image
  .gitlab-ci.yml
  docker/docker-compose-observability.yml
Due: router:validate, zwave:validate, satellite-2:validate

feat: complete Telegraf containerization (follow-up to !490)
  .gitlab-ci.yml
  docker/docker-compose.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: bypass Telegraf entrypoint to fix setpriv capability error
  docker/docker-compose.yml
Due: router:validate

fix: add SNMP MIBs and nvme-cli to Telegraf container
  docker/docker-compose.yml
  docker/telegraf/Dockerfile
Due: router:validate

fix: add custom AppArmor profile for Telegraf D-Bus access
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/docker-compose.yml
  docker/telegraf/telegraf-dbus-readonly
Due: router:validate

fix: correct AppArmor dbus rule syntax order
  docker/telegraf/telegraf-dbus-readonly
Due: router:validate

feat: add Grafana Tempo and OpenTelemetry Collector
  ansible/inventory.yml
  docker/docker-compose.yml
  docker/grafana/provisioning/datasources/tempo.yml
  docker/nginx/router.lab.nkontur.com/internal_http.conf
  docker/otel-collector/config.yaml
  docker/tempo/tempo.yaml
Due: router:validate, zwave:validate, satellite-2:validate

fix: resolve Telegraf container errors
  docker/docker-compose.yml
  docker/telegraf/Dockerfile
  docker/telegraf/telegraf.conf
Due: router:validate

feat: add NUT UPS monitoring with automatic shutdown
  ansible/inventory.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
  docker/nut/Dockerfile
  docker/nut/entrypoint.sh
  docker/nut/notify.sh
  docker/nut/nut-shutdown-watcher.path
  docker/nut/nut-shutdown-watcher.service
  docker/nut/nutshutdown
  docker/nut/ups.conf
  docker/nut/upsd.conf
  docker/nut/upsd.users
  docker/nut/upsmon.conf
Due: router:validate, zwave:validate, satellite-2:validate

fix: add Pi-hole env vars and fix UPS SNMP address for containerized Telegraf
  docker/docker-compose-observability.yml
  docker/telegraf/telegraf.conf
Due: router:validate, zwave:validate, satellite-2:validate

refactor: Telegraf back to baremetal, service monitoring to OTel Collector
  .gitlab-ci.yml
  ansible/inventory.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/docker-compose.yml
  docker/otel-collector/config.yaml
  docker/telegraf/Dockerfile
  docker/telegraf/telegraf-dbus-readonly
  docker/telegraf/telegraf.conf
Due: router:validate, zwave:validate, satellite-2:validate

feat: add NUT UPS monitoring with automatic shutdown
  ansible/inventory.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
  docker/nut/Dockerfile
  docker/nut/entrypoint.sh
  docker/nut/notify.sh
  docker/nut/nut-shutdown-watcher.path
  docker/nut/nut-shutdown-watcher.service
  docker/nut/nutshutdown
  docker/nut/ups.conf
  docker/nut/upsd.conf
  docker/nut/upsd.users
  docker/nut/upsmon.conf
Due: router:validate, zwave:validate, satellite-2:validate

refactor: move NUT from container to baremetal installation
  ansible/inventory.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
  base/nut/notify.sh
  base/nut/ups.conf
  base/nut/upsd.conf
  base/nut/upsd.users
  base/nut/upsmon.conf
  docker/docker-compose.yml
  docker/nut/Dockerfile
  docker/nut/entrypoint.sh
  docker/nut/nut-shutdown-watcher.path
  docker/nut/nut-shutdown-watcher.service
  docker/nut/nutshutdown
  docker/nut/upsd.conf
Due: router:validate, zwave:validate, satellite-2:validate

fix: use signed-by GPG key for InfluxData apt repo
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

fix: pin InfluxData APT repo to jammy (Noble unsupported)
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

fix: rotate InfluxData GPG key after Jan 2026 expiry
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

fix: avoid restarting nut-monitor causing pipeline failure
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

fix: NUT monitor startup - add driver service, guard on missing Vault secret
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

fix: NUT driver MIB mismatch — device is APC (apcc), not CyberPower
  base/nut/ups.conf
Due: router:validate

ci: add homelab service config to router changes triggers
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate
