Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, moltbot:build, amcrest2mqtt:build, snapcast:build, snapclient:build, vault:configure, vault:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*

Fix satellite deploy: handle missing Loki push-auth creds
  docker/promtail/satellite-config.yml
Due: router:validate

chore: sync cron config
  config/cron-jobs.json
Due: none

feat: isolate Loki on dedicated backend network
  docker/docker-compose.yml
  docker/nginx/router.lab.nkontur.com/internal_http.conf
  docker/promtail/config.yml
Due: router:validate

Switch from Loki logging driver to json-file + Promtail scraping
  docker/daemon.json
  docker/docker-compose.yml
  docker/promtail/config.yml
Due: router:validate

chore: remove unused loki_ip variable from inventory
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

chore: remove redundant logging stanza from jit-approval-svc
  docker/docker-compose.yml
Due: router:validate

fix: use existing loki.lab.nkontur.com server block instead of duplicate
  docker/docker-compose.yml
  docker/nginx/router.lab.nkontur.com/internal_http.conf
  docker/promtail/config.yml
Due: router:validate

Fix nginx worker unable to read Loki htpasswd file
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

Add CAP_FOWNER to nzbget container
  docker/docker-compose.yml
Due: router:validate

feat: add scrubber rules for basic auth, htpasswd, password values
  docker/scrub-transcripts/gitleaks-transcripts.toml
Due: router:validate

feat: batch backlog fixes (#55, #56, #57, #59, #62)
  docker/docker-compose-observability.yml
  docker/docker-compose-satellite.yml
  docker/docker-compose-zigbee.yml
  docker/docker-compose-zwave.yml
  docker/docker-compose.yml
Due: router:validate, zwave:validate

jit-approval-svc: return error status when T1 auto-approve fails
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
  docker/jit-approval-svc/internal/store/store.go
Due: router:validate

feat(jit): return error status when T1 upstream backend is unreachable
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/store/store.go
Due: router:validate

chore: remove room-assistant from satellite compose
  docker/docker-compose-satellite.yml
Due: router:validate

fix: update handler test to expect 502 error on T1 mint failure
  docker/jit-approval-svc/internal/handler/handler_test.go
Due: router:validate

jit-approval-svc: return error status when T1 auto-approve fails upstream
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
  docker/jit-approval-svc/internal/store/store.go
Due: router:validate

feat: provision Grafana alerting config (contact points, policies, 17 alert rules)
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

Fix broken healthchecks and nextcloud permissions
  docker/docker-compose.yml
Due: router:validate

fix: use copy instead of template for Grafana alerting files
  ansible/inventory.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: correct satellite Promtail/Telegraf config paths
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: wrap Grafana alerting files in Jinja2 raw blocks
  docker/grafana/provisioning/alerting/contactpoints.yml
  docker/grafana/provisioning/alerting/rules/infrastructure.yml
Due: router:validate

fix: satellite nginx paths and Grafana alerting Jinja2 conflict
  ansible/inventory.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: add remove_orphans to docker compose deploy
  ansible/roles/deploy-compose/tasks/main.yml
Due: none

fix: auto-cleanup config dirs mistakenly created as directories
  ansible/roles/deploy-compose/tasks/main.yml
Due: none

fix: satellite nginx config path + directory cleanup in configure-homelab-services
  ansible/inventory.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: remove {% raw %} tags from Grafana alerting files
  docker/grafana/provisioning/alerting/contactpoints.yml
  docker/grafana/provisioning/alerting/rules/infrastructure.yml
Due: router:validate

fix: add timeouts to docker restart and compose tasks
  ansible/roles/configure-homelab-services/tasks/main.yml
  ansible/roles/deploy-compose/tasks/main.yml
Due: none

fix: strip satellite-2 down to observability only
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: remove nginx from zwave Pi
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: remove residual endraw tag from contactpoints.yml
  docker/grafana/provisioning/alerting/contactpoints.yml
Due: router:validate

fix: add zwave network definition to zwave compose
  docker/docker-compose-zwave.yml
Due: router:validate, zwave:validate

Fix zigbee2mqtt crash and broken healthchecks for loki/promtail/HA
  docker/docker-compose.yml
Due: router:validate

Fix audioserve and nextcloud healthchecks, revert zigbee2mqtt NET_RAW
  docker/docker-compose.yml
Due: router:validate

fix: bump JIT rate limits 10x (5 → 50 per 15min)
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/ratelimit/ratelimit.go
Due: router:validate

fix: pin moltbot-nginx-bridge subnet to match hardcoded IPs
  docker/docker-compose.yml
Due: router:validate

fix: remove Loki Docker logging driver plugin install
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate

fix: detect dpkg arch for shell2http install on scanner Pi
  ansible/roles/configure-scanner/tasks/main.yml
Due: none

fix: escape $ in compose env vars to suppress Docker warnings
  docker/docker-compose.yml
Due: router:validate

chore: remove borgmatic cron MAILTO — backups use restic now
  ansible/roles/configure-notifications/tasks/main.yml
Due: router:validate
