Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, jit-approval-svc:test, moltbot:build, amcrest2mqtt:build, snapcast:build, jit-approval-svc:build, snapclient:build, chromium-browser:build, vault:configure, vault:validate

router:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

zwave:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

satellite-2:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

jit-approval-svc:test:
  interruptible: true
  stage: validate
  image: golang:1.22-alpine
  needs: []
  script:
  - cd docker/jit-approval-svc
  - go test -v -count=1 ./...

moltbot:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

amcrest2mqtt:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapcast:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

jit-approval-svc:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapclient:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

chromium-browser:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

vault:configure:
  stage: deploy
  image: alpine:3.19
  environment: admin
  needs: []
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
  before_script:
  - apk add --no-cache wget unzip
  - wget -q "https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip"
  ...

fix: remove telegraf container — runs on baremetal now
  docker/docker-compose-observability.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: telegraf config permissions + ping capability
  ansible/inventory.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/telegraf/telegraf.conf
Due: router:validate, zwave:validate, satellite-2:validate

fix: move TLS config into httpcheck targets
  docker/otel-collector/config.yaml
Due: router:validate

feat: enhance satellite observability stack (promtail + telegraf)
  docker/docker-compose-observability.yml
  docker/promtail/satellite-config.yml
  docker/telegraf/satellite-telegraf.conf
Due: router:validate, zwave:validate, satellite-2:validate

fix(otel-collector): remove unsupported metrics config and add docker group
  ansible/inventory.yml
  docker/docker-compose.yml
  docker/otel-collector/config.yaml
Due: router:validate, zwave:validate, satellite-2:validate

fix(otel-collector): add api_version for docker_stats receiver
  docker/otel-collector/config.yaml
Due: router:validate

fix: add host metric mounts and healthcheck to satellite telegraf
  docker/docker-compose-observability.yml
  docker/telegraf/satellite-telegraf.conf
Due: router:validate, zwave:validate, satellite-2:validate

fix(otel-collector): disable broken healthcheck
  docker/docker-compose.yml
Due: router:validate

fix: infer docker GID dynamically instead of hardcoding
  ansible/inventory.yml
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: bypass telegraf entrypoint setpriv on satellites
  docker/docker-compose-observability.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: move cert expiry checks from otel httpcheck back to telegraf
  docker/otel-collector/config.yaml
  docker/telegraf/telegraf.conf
Due: router:validate

refactor: strip otel-collector to OTLP-only, restore scrapers to telegraf
  docker/docker-compose.yml
  docker/otel-collector/config.yaml
  docker/telegraf/telegraf.conf
Due: router:validate

feat: expose InfluxDB on IoT VLAN for satellite telegraf
  ansible/inventory.yml
  docker/docker-compose.yml
  docker/telegraf/satellite-telegraf.conf
Due: router:validate, zwave:validate, satellite-2:validate

fix: satellite telegraf warnings + config-change restart logic
  ansible/roles/deploy-compose/tasks/main.yml
  docker/telegraf/satellite-telegraf.conf
Due: router:validate, zwave:validate, satellite-2:validate

Enable OpenTelemetry tracing for Grafana
  docker/docker-compose.yml
Due: router:validate

feat: enable OTEL tracing for OpenClaw, GitLab, Vault, Grafana
  docker/docker-compose.yml
  docker/gitlab/gitlab.rb
  docker/vault/config.hcl
Due: router:validate

fix: route OpenClaw OTLP through collector, add GitLab tracing, drop Vault
  docker/docker-compose.yml
  docker/openclaw/openclaw.json.j2
  docker/vault/config.hcl
Due: router:validate

docs: add observability architecture documentation
  README.md
  docs/OBSERVABILITY.md
Due: none

docs: replace ASCII diagram with Mermaid for GitLab rendering
  docs/OBSERVABILITY.md
Due: none

feat: add Aruba switch monitoring — SNMP metrics + syslog logs
  docker/docker-compose.yml
  docker/promtail/config.yml
  docker/telegraf/telegraf.conf
  docs/OBSERVABILITY.md
  networking/switches/aruba-config
Due: router:validate

docs: fix Mermaid diagram layout — Grafana at bottom, cleaner flow
  docs/OBSERVABILITY.md
Due: none

feat: add Aruba switch monitoring — SNMP metrics + syslog logs
  docker/docker-compose.yml
  docker/promtail/config.yml
  docker/telegraf/telegraf.conf
  networking/switches/aruba-config
Due: router:validate

refactor: remove Aruba switch changes (moved to separate MR)
  docker/docker-compose.yml
  docker/promtail/config.yml
  docker/telegraf/telegraf.conf
  docs/OBSERVABILITY.md
  networking/switches/aruba-config
Due: router:validate

docs: fix Mermaid layout — wrap Grafana in Visualization subgraph to force bottom
  docs/OBSERVABILITY.md
Due: none

fix: point SNMP at Aruba S2500 (10.100.0.1), not Netgear switches
  docker/telegraf/telegraf.conf
  networking/switches/aruba-config
Due: router:validate

fix: prevent spurious openclaw-gateway restarts on deploy
  ansible/inventory.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: router:validate, zwave:validate, satellite-2:validate

feat: expand Aruba SNMP to full coverage — CPU, memory, all interface counters
  docker/telegraf/telegraf.conf
Due: router:validate

fix: enable GitLab OTel exporters — add GITLAB_ENABLE_OTEL_EXPORTERS
  docker/gitlab/gitlab.rb
Due: router:validate

fix: persist OpenClaw plugin deps across image upgrades
  ansible/inventory.yml
  docker/docker-compose.yml
  docker/openclaw/entrypoint-wrapper.sh
Due: router:validate, zwave:validate, satellite-2:validate

refactor: remove telegraf clawrouter balance script
  ansible/inventory.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/telegraf/scripts/clawrouter-balance.sh
  docker/telegraf/telegraf.conf
Due: router:validate, zwave:validate, satellite-2:validate

fix: correct indentation for homelab-services CI trigger path
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

chore: update jackett 0.24.1287 → 0.24.1292 (patch)
  docker/docker-compose.yml
Due: router:validate

fix(pelias): increase placeholder memory limit to prevent OOM kills
  docker/docker-compose.yml
Due: router:validate

fix: enable OTel collector healthcheck
  docker/docker-compose.yml
Due: router:validate

feat(openclaw): enable context1m beta flag for Opus 4.6
  docker/openclaw/openclaw.json.j2
Due: router:validate

feat(openclaw): enable 1M context window for Claude Opus 4.6
  docker/openclaw/openclaw.json.j2
Due: router:validate

fix: build TypeScript extensions in entrypoint wrapper
  docker/openclaw/entrypoint-wrapper.sh
Due: router:validate

Revert "Merge branch 'feat/opus-1m-context' into 'main'"
  docker/openclaw/openclaw.json.j2
Due: router:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, ansible/roles/fetch-vault-secrets/**/*, ansible/roles/restic/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-zwave.yml, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  jit-approval-svc:test: any of: docker/jit-approval-svc/**/*
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  jit-approval-svc:build: any of: docker/jit-approval-svc/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  chromium-browser:build: any of: docker/chromium-browser/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*
