Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, jit-approval-svc:test, moltbot:build, amcrest2mqtt:build, snapcast:build, jit-approval-svc:build, snapclient:build, chromium-browser:build, vault:configure, vault:validate

router:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

zwave:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

satellite-2:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

jit-approval-svc:test:
  interruptible: true
  stage: validate
  image: golang:1.22-alpine
  needs: []
  script:
  - cd docker/jit-approval-svc
  - go test -v -count=1 ./...

moltbot:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

amcrest2mqtt:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapcast:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

jit-approval-svc:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapclient:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

chromium-browser:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

vault:configure:
  stage: deploy
  image: alpine:3.19
  environment: admin
  needs: []
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
  before_script:
  - apk add --no-cache wget unzip
  - wget -q "https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip"
  ...

chore(memory): consolidate 7 stale memory-limit MRs, revalidated against 30d max
  docker/docker-compose.yml
Due: router:validate

sec: bind host-published ports to loopback instead of 0.0.0.0
  docker/docker-compose.yml
Due: router:validate

chore(vault): refresh to 2.0.3 (was 2.0.1)
  docker/docker-compose.yml
Due: router:validate

chore: retarget vault bump to 2.0.4 (latest stable)
  docker/docker-compose.yml
Due: router:validate

chore: bump hashicorp/vault 1.21.4 -> 2.0.1 (MAJOR)
  docker/docker-compose.yml
Due: router:validate

fix(promtail): pin multi-arch index digest — unbreaks log shipping on both Pis
  CLAUDE.md
  docker/docker-compose-observability.yml
  docker/docker-compose.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(healthchecks): probes that have never once succeeded on 4 containers
  docker/docker-compose-zwave.yml
  docker/docker-compose.yml
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate, zwave:validate

fix(alerting): SMART disk alert has never been able to fire
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

fix(ci): cap memory on GitLab runner build containers
  base/gitlab-runner/config.toml
Due: router:validate

fix(ci): raise runner memory cap 2g -> 4g
  base/gitlab-runner/config.toml
Due: router:validate

docs(dr): add Phase 4.5 Vault & JIT recovery to the runbook
  DISASTER_RECOVERY.md
Due: none

fix(nextcloud): restore 3G memory limit — OOM-killed at 1536M
  docker/docker-compose.yml
Due: router:validate

fix(msmtp): read Gmail app password from Vault, not env only
  base/msmtp/msmtprc
  docs/SECRET_ROTATION.md
Due: router:validate

fix(restic): weekly deep check has never once got the repo lock
  ansible/roles/restic/README.md
  ansible/roles/restic/defaults/main.yml
  ansible/roles/restic/templates/restic-check.service.j2
  docs/backups.md
Due: router:validate

fix(alerting): disk warning keeps firing under the critical rule
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

fix(telegraf): SMART collection fails on every router disk without sudo
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/telegraf/telegraf.conf
Due: router:validate

fix(amcrest2mqtt): stop the 6,600-restarts/day hot loop
  docker/images/amcrest2mqtt/Dockerfile
  docker/images/amcrest2mqtt/entrypoint.sh
Due: router:validate, amcrest2mqtt:build

fix(promtail): pin the multi-arch index digest, not the amd64 manifest
  docker/docker-compose-observability.yml
  docker/docker-compose.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(restic): a vanished temp file silently drops half the backup run
  ansible/roles/restic/README.md
  ansible/roles/restic/defaults/main.yml
  ansible/roles/restic/templates/restic-backup.service.j2
  docker/grafana/provisioning/alerting/infrastructure.yml
  docs/backups.md
Due: router:validate

fix(deluge): right-size memory 12G->3G; the "libtorrent leak" is page cache
  docker/docker-compose.yml
Due: router:validate

fix(promtail): satellites ship zero logs — Loki unreachable from IoT VLAN
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/docker-compose.yml
  docker/nginx/router.lab.nkontur.com/iot_http.conf
  docker/promtail/satellite-config.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(alerting): restart-loop rule was blind to actual crash loops
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

fix(restic): backup failure mail was corrupted and truncated by printf
  ansible/roles/restic/templates/restic-notify-failure@.service.j2
Due: router:validate

chore(images): refresh jackett 0.24.2527, zigbee2mqtt 2.14.1
  docker/docker-compose-zigbee.yml
  docker/docker-compose.yml
Due: router:validate

chore(images): batch image + base-image updates (2026-09-03)
  docker/docker-compose-observability.yml
  docker/docker-compose-zigbee.yml
  docker/docker-compose-zwave.yml
  docker/docker-compose.yml
  docker/jit-approval-svc/Dockerfile
  docker/novnc/Dockerfile
Due: router:validate, zwave:validate, satellite-2:validate, jit-approval-svc:test, jit-approval-svc:build

chore(images): nzbget 26.3.20260904, jackett 0.24.2538, sonarr ls323
  docker/docker-compose.yml
Due: router:validate

chore(images): jackett 0.24.2541, home-assistant 2026.9.1
  docker/docker-compose.yml
Due: router:validate

fix(amcrest2mqtt): keep healthcheck honest under the backoff wrapper
  docker/docker-compose.yml
Due: router:validate

chore(images): drawio 31.4.4, radarr ls315
  docker/docker-compose.yml
Due: router:validate

fix(alerting): backup-failure alert stuck firing on a dead notifier
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

chore(images): jackett 0.24.2544
  docker/docker-compose.yml
Due: router:validate

chore(images): telegraf 1.39.3 -> 1.40.0, drawio 31.4.4 -> 31.4.5
  docker/docker-compose-observability.yml
  docker/docker-compose.yml
Due: router:validate, zwave:validate, satellite-2:validate

feat(alerting): catch failing disks before SMART calls them unhealthy
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

fix(notifications): deliver smartd and cron mail instead of dropping it
  ansible/roles/configure-notifications/tasks/main.yml
  base/msmtp/aliases
  base/msmtp/msmtprc
Due: router:validate

fix(notifications): never deploy an msmtprc with a blank password
  ansible/roles/configure-notifications/tasks/main.yml
  base/msmtp/msmtprc
Due: router:validate

fix(apt): unblock deploys on EOL bullseye hosts with expired Release file
  .gitlab-ci.yml
  README.md
  ansible/roles/configure-apt/tasks/main.yml
  ansible/satellite-2.yml
  ansible/zwave.yml
Due: router:validate, zwave:validate, satellite-2:validate

feat(alerting): enable UPS alerts, the data has been there all along
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

feat(monitoring): check services answer over HTTP, not just that they are running
  docker/grafana/provisioning/alerting/infrastructure.yml
  docker/telegraf/telegraf.conf
Due: router:validate

fix: restore $-escaping on MySQL password env vars
  docker/docker-compose.yml
Due: router:validate

chore(images): jackett 0.24.2551; refresh 6 stale same-tag digests
  docker/docker-compose.yml
Due: router:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, ansible/roles/fetch-vault-secrets/**/*, ansible/roles/restic/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-zwave.yml, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  jit-approval-svc:test: any of: docker/jit-approval-svc/**/*
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  jit-approval-svc:build: any of: docker/jit-approval-svc/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  chromium-browser:build: any of: docker/chromium-browser/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*
