Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, moltbot:build, amcrest2mqtt:build, snapcast:build, snapclient:build, vault:configure, vault:validate

router:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

zwave:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

satellite-2:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

moltbot:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

amcrest2mqtt:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapcast:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapclient:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

vault:configure:
  stage: configure
  image: alpine:3.19
  needs:
  - job: router:deploy
    optional: true
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.lab.nkontur.com:8200
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
    VAULT_SKIP_VERIFY: 'true'
  before_script:
  ...

vault:validate:
  interruptible: true
  stage: validate
  image: alpine:3.19
  needs: []
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.lab.nkontur.com:8200
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
    VAULT_SKIP_VERIFY: 'true'
  before_script:
  ...

Memory: JIT caching, Gmail send setup, Valentine's flowers
  memory/2026-02-13.md
Due: none

Switch JIT cache from predictable file paths to anonymous mktemp (in-memory-like)
  tools/jit-lib.sh
Due: none

Remove JIT credential caching — revisit when session isolation is solved
  tools/jit-lib.sh
Due: none

fix: strip t prefix from tier in jit_request (t2 → 2)
  tools/jit-lib.sh
Due: none

fix: expand transcript scrubber to catch OAuth tokens, client secrets, and more credential patterns
  docker/moltbot/scripts/scrub-transcripts.sh
Due: router:validate, moltbot:build

feat: replace hand-rolled transcript scrubber with gitleaks-based detection
  ansible/roles/configure-docker/tasks/main.yml
  docker/moltbot/scripts/gitleaks-transcripts.toml
  docker/moltbot/scripts/scrub-transcripts.sh
Due: router:validate, moltbot:build

chore: update OpenClaw image tag to 2026.2.12
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

refactor: run transcript scrubber natively on host instead of Docker
  ansible/roles/configure-docker/tasks/main.yml
  docker/scrub-transcripts/gitleaks-transcripts.toml
  docker/scrub-transcripts/scrub-transcripts.sh
Due: router:validate

memory: Feb 13 security deep dive, scrubber overhaul, OpenClaw update
  memory/2026-02-13.md
Due: none

chore: update OpenClaw base image to 2026.2.12 (security fixes)
  docker/moltbot/Dockerfile
Due: router:validate, moltbot:build

revert: remove erroneous moltbot_image_tag from inventory
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

sync cron config
  config/cron-jobs.json
Due: none

fix: correct gitleaks download URL (linux_x64, v8.30.0)
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate

refactor: split configure-docker into generic Docker setup + configure-homelab-services
  ansible/roles/configure-docker/tasks/main.yml
  ansible/roles/configure-homelab-services/meta/main.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
  ansible/router.yml
Due: router:validate

fix: gitleaks CLI args, config useDefault, version bump to 8.30.0
  ansible/roles/configure-docker/tasks/main.yml
  docker/scrub-transcripts/gitleaks-transcripts.toml
  docker/scrub-transcripts/scrub-transcripts.sh
Due: router:validate

fix: gitleaks CLI args and enable default rules via useDefault
  docker/scrub-transcripts/gitleaks-transcripts.toml
  docker/scrub-transcripts/scrub-transcripts.sh
Due: router:validate

meditation: friday the thirteenth — singularity, territory, the second agent
  memory/meditations.md
Due: none

Red team report 2026-02-14
  memory/main-pipeline-state.json
  memory/moltbook-notes.md
  memory/redteam-2026-02-14.md
Due: none

fact extraction: 18 new facts from Feb 12-13 (infra, job-hunting, avery)
  life/areas/people/avery/items.json
  life/areas/projects/homelab-infra/items.json
  life/areas/projects/job-hunting/items.json
  memory/2026-02-14.md
Due: none

chore: image updates 2026-02-14 (jackett, nzbget)
  docker/docker-compose.yml
Due: router:validate

chore: update jackett and nzbget image tags
  docker/docker-compose.yml
Due: router:validate

memory: Feb 14 updates, vault path lesson, moltbook notes
  memory/2026-02-14.md
  memory/moltbook-notes.md
Due: none

fix(restic): use EnvironmentFile instead of inline secrets in systemd units
  ansible/roles/restic/templates/restic-backup.service.j2
  ansible/roles/restic/templates/restic-check.service.j2
  ansible/roles/restic/templates/restic_env.j2
Due: none

Add image update check script
  scripts/check-updates.sh
Due: none

meditation: valentine's day — revoked tokens, vulnerability, distance
  memory/meditations.md
Due: none

fix: improve image update script - version comparison, multi-registry, arch filter
  scripts/check-updates.sh
Due: none

Red team report 2026-02-15: Loki write injection found
  memory/redteam-2026-02-15.md
Due: none

fix: smarter suffix matching, Dockerfile base image scanning
  scripts/check-updates.sh
Due: none

remove: check-updates.sh moved to homelab repo (scripts/check-updates.sh)
  memory/main-pipeline-state.json
  skills/image-update/scripts/check-updates.sh
Due: none

fix: restore check-updates.sh (corrupted in fe2e344 - all slashes stripped)
  scripts/check-updates.sh
Due: none

chore: batch image updates 2026-02-15
  docker/docker-compose.yml
Due: router:validate

Weekly knowledge graph synthesis 2026-02-15: update summaries, add new facts, refresh MEMORY.md
  MEMORY.md
  life/areas/projects/homelab-infra/items.json
  life/areas/projects/homelab-infra/summary.md
  memory/2026-02-15.md
  memory/main-pipeline-state.json
Due: none

fix: MEMORY.md still said GITLAB_TOKEN revoked, causing sub-agents to use JIT
  MEMORY.md
Due: none

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*
