Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, moltbot:build, snapcast:build, snapclient:build

router:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles /cache/ansible-collections
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

zwave:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles /cache/ansible-collections
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

satellite-2:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles /cache/ansible-collections
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

moltbot:build:
  stage: build
  image: docker:24
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapcast:build:
  stage: build
  image: docker:24
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapclient:build:
  stage: build
  image: docker:24
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

perf: tune GitLab for homelab single-user workload
  base/gitlab-runner/config.toml
  docker/docker-compose.yml
  docker/gitlab/gitlab.rb
  docker/nginx/http-internal-drop-in.conf
Due: router:validate

feat: deploy Vault unseal keys from CI/CD variable
  ansible/roles/configure-docker/tasks/main.yml
  docker/vault/README.md
Due: router:validate

fix: only write vault unseal keys on hosts that have vault
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate

feat: Add Terraform config for Vault auth backends and policies
  .gitlab-ci.yml
  terraform/vault/auth.tf
  terraform/vault/main.tf
  terraform/vault/outputs.tf
  terraform/vault/policies.tf
  terraform/vault/roles.tf
  terraform/vault/variables.tf
Due: router:validate, zwave:validate, satellite-2:validate

fix: remove deprecated GitLab 18.x config keys that caused crash
  docker/gitlab/gitlab.rb
Due: router:validate

fix: restore redis maxmemory settings — they ARE valid Omnibus keys
  docker/gitlab/gitlab.rb
Due: router:validate

memory: massive Feb 5 evening session — security architecture, vault, gitlab perf crash, terraform
  memory/2026-02-05.md
  memory/main-pipeline-state.json
  memory/open-mrs.json
Due: none

feat: use GitLab built-in Terraform state backend instead of local
  .gitlab-ci.yml
  terraform/vault/main.tf
Due: router:validate, zwave:validate, satellite-2:validate

feat: add terraform plan to vault:validate CI job
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: vault address to 127.0.0.1 — runner is on the same host
  .gitlab-ci.yml
  terraform/vault/variables.tf
Due: router:validate, zwave:validate, satellite-2:validate

fix(vault): prevent provider env var conflict and add resilience
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: vault DNS resolution — add explicit dnsmasq record
  .gitlab-ci.yml
  docker/pihole/custom.conf
  terraform/vault/variables.tf
Due: router:validate, zwave:validate, satellite-2:validate

revert: remove custom.conf vault entry — DNS managed in pihole.toml now
  docker/pihole/custom.conf
Due: router:validate

Remove unused 'images' GitLab runner
  base/gitlab-runner/config.toml
Due: router:validate

feat: bootstrap scoped Vault JWT auth for CI pipelines
  .gitlab-ci.yml
  terraform/vault/policies.tf
  terraform/vault/roles.tf
Due: router:validate, zwave:validate, satellite-2:validate

Migrate Pi-hole DNS records from custom.list to pihole.toml
  ansible/inventory.yml
  ansible/roles/configure-docker/tasks/main.yml
  docker/pihole/custom.list
Due: router:validate, zwave:validate, satellite-2:validate

perf(radarr,sonarr): increase memory limits and add reservations
  docker/docker-compose.yml
Due: router:validate

memory: don't comment removed code, git history exists
  MEMORY.md
Due: none

Add bootstrap playbook as manual CI job for one-time infrastructure setup
  .gitlab-ci.yml
  ansible/BOOTSTRAP.md
  ansible/bootstrap.yml
  ansible/roles/configure-docker/tasks/main.yml
  ansible/router.yml
Due: router:validate, zwave:validate, satellite-2:validate

Add bootstrap playbook, script, and disaster recovery docs
  .gitlab-ci.yml
  ansible/bootstrap.yml
  ansible/roles/configure-docker/tasks/main.yml
  docs/DISASTER_RECOVERY.md
  scripts/bootstrap.sh
Due: router:validate, zwave:validate, satellite-2:validate

heartbeat: add nightly red team exercise + 9AM digest cron
  HEARTBEAT.md
  memory/open-mrs.json
Due: none

skills: use git worktree for branch isolation — prevent cross-contamination
  skills/gitlab-mr-create/SKILL.md
  skills/gitlab-mr/SKILL.md
Due: none

Add router:restore CI job and restic restore to bootstrap.sh
  .gitlab-ci.yml
  docs/DISASTER_RECOVERY.md
  scripts/bootstrap.sh
Due: router:validate, zwave:validate, satellite-2:validate

memory: massive evening session — vault DNS, worktree fix, bootstrap, SMS research
  memory/2026-02-05.md
Due: none

Move data restore into bootstrap.sh, remove router:restore CI job
  .gitlab-ci.yml
  docs/DISASTER_RECOVERY.md
  scripts/bootstrap.sh
Due: router:validate, zwave:validate, satellite-2:validate

feat: add JWT auth to vault CI jobs
  .gitlab-ci.yml
  terraform/vault/policies.tf
  terraform/vault/roles.tf
Due: router:validate, zwave:validate, satellite-2:validate

security: purge vault init keys file and references
  memory/2026-02-05.md
Due: none

feat: add vault:rotate-approle CI job
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: resolve flapping UPS Grafana alerts, provision alerting as code
  ansible/inventory.yml
  docker/grafana/provisioning/alerting/contactpoints.yml
  docker/grafana/provisioning/alerting/rules/infrastructure.yml
  docker/grafana/provisioning/dashboards/dashboards.yml
  docker/grafana/provisioning/dashboards/json/system-dashboard.json
  docker/grafana/provisioning/datasources/influxdb.yml
  docker/grafana/provisioning/datasources/loki.yml
Due: router:validate, zwave:validate, satellite-2:validate

docs: update SECRET_ROTATION.md with Vault layout and AppRole rotation
  docs/SECRET_ROTATION.md
Due: none

fix: allow DNS, HTTP/S, and ICMP from Tailscale network
  networking/iptables/rules.v4
Due: router:validate

docs: update pipeline structure diagram and SECRET_ROTATION.md
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

skills: add documentation-with-every-MR rule to gitlab-mr skill
  skills/gitlab-mr/SKILL.md
Due: none

heartbeat: add nightly performance hunting directive
  HEARTBEAT.md
Due: none

feat: migrate deploy pipeline from CI env vars to Vault secret fetching
  .gitlab-ci.yml
  ansible/inventory.yml
  ansible/roles/configure-base/tasks/main.yml
  ansible/roles/configure-router-network/tasks/main.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  ansible/roles/fetch-vault-secrets/tasks/extract_secret.yml
  ansible/roles/fetch-vault-secrets/tasks/main.yml
  ansible/router.yml
  base/telegraf/telegraf.conf
  docker/docker-compose.yml
  docker/zigbee2mqtt/configuration.yaml
  docs/SECRET_ROTATION.md
Due: router:validate, zwave:validate, satellite-2:validate

memory: overnight performance audit — GitLab jobs API slow, container stats
  memory/2026-02-06.md
  memory/open-mrs.json
Due: none

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, ansible/vault_vars.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, ansible/vault_vars.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, ansible/vault_vars.yml, .gitlab-ci.yml
  moltbot:build: any of: docker/moltbot/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
