Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, jit-approval-svc:test, moltbot:build, amcrest2mqtt:build, snapcast:build, jit-approval-svc:build, snapclient:build, chromium-browser:build, vault:configure, vault:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, ansible/roles/fetch-vault-secrets/**/*, ansible/roles/restic/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-zwave.yml, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  jit-approval-svc:test: any of: docker/jit-approval-svc/**/*
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  jit-approval-svc:build: any of: docker/jit-approval-svc/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  chromium-browser:build: any of: docker/chromium-browser/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*

Alert on tempo and otel-collector going down
  docker/docker-compose.yml
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

Fix Failed SSH Logins alert matching a string sshd never logs
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

sec(nginx): apply the rate limits that were declared but never used
  .gitlab-ci.yml
  docker/nginx/router.lab.nkontur.com/external_http.conf
  scripts/validate-nginx-config.sh
Due: router:validate, zwave:validate, satellite-2:validate

fix(ci): dhparams must be >=2048-bit for the nginx config test
  scripts/validate-nginx-config.sh
Due: none

chore(images): plex 1.43.4, jackett 0.24.2554, gitlab-ee 19.3.2, zwave-js-ui 11.24.0
  docker/docker-compose-zwave.yml
  docker/docker-compose.yml
Due: router:validate, zwave:validate

promtail: drop GitLab tail banners and blank lines
  docker/promtail/config.yml
Due: router:validate

chore(images): nzbget 26.3.20260911, jackett 0.24.2558, sonarr ls324, home-assistant 2026.9.2, nextcloud 33.0.9
  docker/docker-compose.yml
Due: router:validate

fix(ci): pin ansible image — :latest rolled to Alpine 3.24 and broke every validate job
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(ci): pip needs --break-system-packages; the pin alone was not enough
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

influxdb: 6G -> 8G, and fix the OOM alert that never fired
  docker/docker-compose.yml
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

chore(images): jackett 0.24.2558 -> 0.24.2572
  docker/docker-compose.yml
Due: router:validate

chore(navidrome): 0.63.2 -> 0.64.0 (security fixes; requires DB backup)
  docker/docker-compose.yml
Due: router:validate

fix(memory): right-size chromium-browser and wordpress_db, both riding their limits
  docker/docker-compose.yml
Due: router:validate

promtail: drop GitLab DEBUG lines, 150k/day of Sidekiq scheduling chatter
  docker/promtail/config.yml
Due: router:validate

chore(images): radarr ls316, jackett 0.24.2586, vaultwarden 1.37.3
  docker/docker-compose.yml
Due: router:validate

fix(logs): stop the SMBus probe flood — 42.7% of all Loki ingest is one constant string
  docker/promtail/config.yml
  docker/telegraf/telegraf.conf
Due: router:validate

alerting: warn before a container OOMs, not after
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

chore(images): jackett 0.24.2601, grafana 12.4.11, otel-collector 0.161.0, zwave-js-ui 11.24.1
  docker/docker-compose-zwave.yml
  docker/docker-compose.yml
Due: router:validate, zwave:validate

alerting: codify the 3 rules that existed only in Grafana's DB
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

chore(images): radarr 6.4.4.10685-ls317, sonarr 4.0.20.3014-ls325, drawio 31.4.6
  docker/docker-compose.yml
Due: router:validate

chore(images): gitlab-ee 19.4.0, loki 3.7.8, jackett 0.24.2619, alpine 3.24.2
  docker/docker-compose.yml
  docker/jit-approval-svc/Dockerfile
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build

fix: right-size deluge (12G->2G) and influxdb (6G->8G) memory limits
  docker/docker-compose.yml
Due: router:validate

fix(ci): unbreak validate jobs after upstream PEP 668 rebase
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

chore(images): nzbget 26.3.20260918, jackett 0.24.2624, wordpress 7.1.1, home-assistant 2026.9.3
  docker/docker-compose.yml
Due: router:validate

promtail: drop Tempo backend-scheduler 'no jobs found' noise
  docker/promtail/config.yml
Due: router:validate

chore(images): pihole 2026.09.0 (FTL security), jackett 0.24.2627, valhalla 3.9.0
  docker/docker-compose.yml
Due: router:validate

promtail: drop Loki's own compaction chatter (7.9% of all ingest)
  docker/promtail/config.yml
  docs/OBSERVABILITY.md
Due: router:validate

chore(images): radarr 6.4.4.10685-ls318, jackett 0.24.2631
  docker/docker-compose.yml
Due: router:validate

influxdb: bound Flux query memory so one query cannot OOM the database
  docker/docker-compose.yml
Due: router:validate

Drop the influxdb memory bump; !719 owns it
  docker/docker-compose.yml
Due: router:validate

sec(codeowners): point the telegraf rule at the directory that exists
  CODEOWNERS
Due: none

chore(images): telegraf 1.40.1
  docker/docker-compose-observability.yml
Due: router:validate, zwave:validate, satellite-2:validate

chore(navidrome): 0.64.0 -> 0.64.1 (5 CVE fixes released 2026-09-21)
  docker/docker-compose.yml
Due: router:validate

feat(alerting): a host that stops reporting currently alerts as a flat camera battery
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

chore(images): jackett 0.24.2651, wordpress 7.1.2
  docker/docker-compose.yml
Due: router:validate

docs(headway): document Dagger engine teardown — it survives the build unbounded
  docs/HEADWAY_SETUP.md
Due: none

chore(images): gitlab-ee 19.4.0 -> 19.4.1
  docker/docker-compose.yml
Due: router:validate

chromium-browser: 2G -> 4G — cgroup OOM killed a renderer during job-scout
  docker/docker-compose.yml
Due: router:validate

chore(jackett): 0.24.2651 -> 0.24.2663
  docker/docker-compose.yml
Due: router:validate
