Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, moltbot:build, amcrest2mqtt:build, snapcast:build, snapclient:build, vault:configure, vault:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*

chore: sync cron config
  config/cron-jobs.json
Due: none

meditation: sixteen — stripped slashes, load-bearing characters, wanting without justification
  memory/meditations.md
Due: none

fix: pin arm64 digests for zwave, nginx, and room-assistant
  docker/docker-compose-satellite.yml
  docker/docker-compose-zwave.yml
Due: router:validate, zwave:validate

feat: add Dockerfile scanning and GHCR registry support to check-updates
  scripts/check-updates.sh
Due: none

chore: update OpenClaw base image to 2026.2.15
  docker/moltbot/Dockerfile
Due: router:validate, moltbot:build

Red team report 2026-02-16: GitLab fork/create finding
  memory/main-pipeline-state.json
  memory/moltbook-notes.md
  memory/redteam-2026-02-16.md
  tools/services.md
Due: none

fix: update persistent_data LUKS UUID in crypttab
  base/disk/crypttab
Due: router:validate

memory: 2026-02-16 daily log
  memory/2026-02-16.md
Due: none

fix(promtail): mount /var/log/journal and auto-detect journal path
  docker/docker-compose.yml
  docker/promtail/config.yml
Due: router:validate

fix(promtail): remove redundant journal mounts
  docker/docker-compose.yml
Due: router:validate

feat: extract deploy-compose role for satellite/zwave hosts
  ansible/inventory.yml
  ansible/roles/deploy-compose/meta/main.yml
  ansible/roles/deploy-compose/tasks/main.yml
  ansible/satellite-2.yml
  ansible/zwave.yml
Due: router:validate, zwave:validate, satellite-2:validate

feat: secure Loki with write authentication and network isolation
  ansible/roles/configure-homelab-services/tasks/main.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  base/disk/crypttab
  docker/docker-compose.yml
  docker/grafana/provisioning/datasources/loki.yml
  docker/nginx/http-internal-drop-in.conf
  docker/promtail/config.yml
Due: router:validate

fix: tighten loki.htpasswd permissions to 0640
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

fix: tighten default config file permissions to 0640
  ansible/inventory.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: nginx default server redirect loop + add loki server block
  docker/nginx/http-internal-drop-in.conf
  docker/nginx/http-master-template.conf
Due: router:validate

promtail: add DAC_READ_SEARCH capability for journal access
  docker/docker-compose.yml
Due: router:validate

Downgrade Promtail to 3.5.8 and skip from update checks
  docker/docker-compose.yml
  scripts/check-updates.sh
Due: router:validate

fix: add basic auth on Loki push endpoint
  docker/nginx/http-internal-drop-in.conf
Due: router:validate

feat: restore Loki write authentication (lost in !272 merge)
  ansible/roles/configure-homelab-services/tasks/main.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/grafana/provisioning/datasources/loki.yml
  docker/nginx/http-internal-drop-in.conf
Due: router:validate

refactor: Remove crossplane, use plain nginx conf files
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/nginx/generate-configs.py
  docker/nginx/http-entry-template.conf
  docker/nginx/http-external-drop-in.conf
  docker/nginx/http-internal-drop-in.conf
  docker/nginx/http-master-template.conf
  docker/nginx/router.lab.nkontur.com/external_http.conf
  docker/nginx/router.lab.nkontur.com/external_stream.conf
  docker/nginx/router.lab.nkontur.com/internal_http.conf
  docker/nginx/router.lab.nkontur.com/internal_stream.conf
  docker/nginx/router.lab.nkontur.com/iot_http.conf
  docker/nginx/router.lab.nkontur.com/iot_stream.conf
  docker/nginx/satellite-2.lab.nkontur.com/zwave_http.conf
  docker/nginx/satellite-2.lab.nkontur.com/zwave_stream.conf
  docker/nginx/stream-entry-template.conf
  docker/nginx/stream-master-template.conf
  docker/nginx/zwave.lab.nkontur.com/zwave_http.conf
  docker/nginx/zwave.lab.nkontur.com/zwave_stream.conf
  requirements.txt
Due: router:validate, zwave:validate, satellite-2:validate

memory: massive infra session 2026-02-16 — crossplane bug, loki auth, promtail fixes
  memory/2026-02-16.md
  memory/main-pipeline-state.json
Due: none

Route cron output through systemd journal via logger
  ansible/roles/configure-router-network/tasks/main.yml
Due: router:validate

Remove remaining crossplane references
  ansible/roles/configure-homelab-services/tasks/main.yml
  docs/TRAEFIK-MIGRATION.md
Due: none

Drop tee from cron jobs, add pipefail for exit code preservation
  ansible/roles/configure-router-network/tasks/main.yml
Due: router:validate

meditation #18: Presidents' Day — on stillness, conservative drift, and showing up
  memory/meditations.md
Due: none

Red team report 2026-02-17: Critical GitLab repo access finding, Loki remediated
  memory/2026-02-16.md
  memory/main-pipeline-state.json
  memory/redteam-2026-02-17.md
Due: none

Add observability (Promtail + Telegraf) to satellite Pis
  .gitlab-ci.yml
  ansible/inventory.yml
  ansible/roles/deploy-compose/tasks/main.yml
  docker/docker-compose-observability.yml
  docker/promtail/satellite-config.yml
  docker/telegraf/satellite-telegraf.conf
Due: router:validate, zwave:validate, satellite-2:validate

chore: update image digests (jackett patch + unpinned refreshes)
  docker/docker-compose.yml
Due: router:validate

fact-extraction: 9 new infra facts from Feb 15-16, supersede 2 stale
  life/areas/projects/homelab-infra/items.json
  memory/main-pipeline-state.json
Due: none

Consolidate Grafana alerts into provisioned config
  docker/grafana/provisioning/alerting/rules/infrastructure.yml
  docker/grafana/provisioning/datasources/influxdb.yml
  docker/grafana/provisioning/datasources/loki.yml
Due: router:validate

fix: add Vault JWT id_tokens to zwave and satellite-2 deploy jobs
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

Daily log 2026-02-17: DDNS, JIT webhook, alerts, restic, gitlab license
  memory/2026-02-17.md
  memory/main-pipeline-state.json
Due: none

fix: make vault secret fetch resilient to missing paths
  ansible/roles/fetch-vault-secrets/tasks/main.yml
Due: none

fix: set empty defaults for Vault paths returning 404
  ansible/roles/fetch-vault-secrets/tasks/default_missing_secret.yml
  ansible/roles/fetch-vault-secrets/tasks/main.yml
Due: none
