Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, moltbot:build, amcrest2mqtt:build, snapcast:build, snapclient:build, vault:configure, vault:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*

fix: use existing 'General Alerting' folder for provisioned alert rules
  docker/grafana/provisioning/alerting/rules/infrastructure.yml
Due: router:validate

feat: add docker socket access for claude user on router
  ansible/roles/claude-user/defaults/main.yml
  ansible/roles/claude-user/tasks/main.yml
  ansible/router.yml
Due: router:validate

Fix #36, #58, #60, #61, #63: batch security and config improvements
  docker/docker-compose-zigbee.yml
  docker/docker-compose.yml
  docs/backups.md
  networking/nfs/exports
  networking/ssl/renew.sh
Due: router:validate

Fix MQTT expired TLS cert and prevent recurrence
  ansible/inventory.yml
  docker/mqtt/mosquitto.conf
  networking/ssl/renew.sh
Due: router:validate, zwave:validate, satellite-2:validate

fix: batch security and doc fixes (#36, #58, #60, #61, #63)
  docker/docker-compose-zigbee.yml
  docker/docker-compose.yml
  docs/backups.md
  networking/nfs/exports
  networking/ssl/renew.sh
Due: router:validate

fix: move Grafana alerting rules out of subdirectory
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

fix: grafana alerting execErrState NoData is invalid, use Alerting
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

memory: Avery calls Prometheus my little guy
  MEMORY.md
  life/areas/people/avery/items.json
  life/areas/projects/homelab-infra/summary.md
  memory/2026-02-17.md
  memory/main-pipeline-state.json
Due: none

fix: correct Grafana alert rule queries based on actual data validation
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

fix: add deleteRules to Grafana alerting provisioning
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

fix: remove invalid deleteRules boolean - crashes Grafana
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

fix: increase alert tolerances for uptime-related rules
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

fix: update key
  docker/gitlab/license_encryption_key.pub
Due: router:validate

fix: batch log error/warning fixes across multiple services
  ansible/inventory.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
  base/telegraf/telegraf-sudoers
  base/telegraf/telegraf.conf
  docker/bitwarden/global.override.env
  docker/docker-compose.yml
  docker/grafana/provisioning/alerting/infrastructure.yml
  docker/mqtt/mosquitto.conf
Due: router:validate, zwave:validate, satellite-2:validate

memory: grafana alerts, dashboard, log audit, license script
  memory/2026-02-17.md
  memory/main-pipeline-state.json
  tools/gitlab-license.sh
Due: none

meditation #19: the corpus — looking outward, diminishing returns, the circle completes
  memory/meditations.md
Due: none

feat: add 2captcha integration for job-hunting CAPTCHA solving
  memory/main-pipeline-state.json
  skills/job-hunting/SKILL.md
  skills/job-hunting/scripts/solve-captcha.sh
Due: none

fix: update ping targets to 1.1.1.1, 8.8.8.8, 10.3.0.1
  base/telegraf/telegraf.conf
Due: router:validate

fix: record-application.sh hardcoded path + applied.json structure
  MEMORY.md
  skills/job-hunting/scripts/record-application.sh
Due: none

docs: add Workday multiselect workaround to job-hunting skill
  skills/job-hunting/SKILL.md
Due: none

Update CAPTCHA solving: Capsolver primary, 2captcha fallback, skip hCaptcha
  .gitignore
  skills/job-hunting/SKILL.md
  skills/job-hunting/references/tracker.md
  skills/job-hunting/scripts/solve-captcha.sh
Due: none

chore: sync cron config
  config/cron-jobs.json
Due: none

fix: update MQTT clients to use TLS port 8883
  docker/docker-compose.yml
  docker/zigbee2mqtt/configuration.yaml
Due: router:validate

fix: mosquitto healthcheck - use 127.0.0.1 instead of localhost
  docker/docker-compose.yml
Due: router:validate

fix: mosquitto healthcheck fails with BusyBox nc -z localhost
  docker/docker-compose.yml
Due: router:validate

Red team report 2026-02-18: CRITICAL - triggered vault:rotate-approles, CI traces readable
  memory/main-pipeline-state.json
  skills/job-hunting/references/tracker.md
Due: none

job apps: 7 submitted tonight, tracking updated, CAPTCHA solving integrated
  skills/job-hunting/references/tracker.md
Due: none

skill-review: update gitlab-mr gotchas (pipeline timeout, check_mode), clear feedback
  skills/gitlab-mr/SKILL.md
Due: none

save scout batch 2 queue for later resume
  skills/job-hunting/references/scout-batch2-queue.md
Due: none

refactor: rename moltbot references to openclaw
  .gitlab-ci.yml
  CLAUDE.md
  CODEOWNERS
  ansible/inventory.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  ansible/roles/fetch-vault-secrets/tasks/main.yml
  docker/docker-compose.yml
  docs/FIREWALL.md
  docs/NETWORK.md
  docs/SECRET_ROTATION.md
  docs/jit-access-design.md
  docs/jit-webhook-design.md
  scripts/check-updates.sh
  terraform/vault/outputs.tf
  terraform/vault/policies.tf
  terraform/vault/roles.tf
Due: router:validate, zwave:validate, satellite-2:validate, vault:configure, vault:validate

chore: update jackett 0.24.1140 → 0.24.1147 (patch)
  docker/docker-compose.yml
Due: router:validate

chore: update openclaw 2026.2.15 → 2026.2.17 (patch)
  docker/moltbot/Dockerfile
Due: router:validate, moltbot:build

chore: update pihole 2025.11.1 → 2026.02.0 (major)
  docker/docker-compose.yml
Due: router:validate

fact-extraction: 11 infra facts, 4 job-hunting facts from Feb 17-18
  life/areas/projects/homelab-infra/items.json
  life/areas/projects/job-hunting/items.json
  memory/main-pipeline-state.json
Due: none

fix: grafana alert misconfigurations
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

fix: silence noisy Grafana alerts
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

Fix SSL cert expiry alert: remove map() breaking Grafana alerting
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate
