Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, jit-approval-svc:test, moltbot:build, amcrest2mqtt:build, snapcast:build, jit-approval-svc:build, snapclient:build, chromium-browser:build, vault:configure, vault:validate

router:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

zwave:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

satellite-2:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

jit-approval-svc:test:
  interruptible: true
  stage: validate
  image: golang:1.22-alpine
  needs: []
  script:
  - cd docker/jit-approval-svc
  - go test -v -count=1 ./...

moltbot:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

amcrest2mqtt:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapcast:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

jit-approval-svc:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapclient:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

chromium-browser:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

vault:configure:
  stage: deploy
  image: alpine:3.19
  environment: admin
  needs: []
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
  before_script:
  - apk add --no-cache wget unzip
  - wget -q "https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip"
  ...

Revert tasks/main.yml — only defaults change needed
  ansible/roles/claude-user-macos/tasks/main.yml
Due: none

Deploy iMessage monitoring scripts via Ansible
  ansible/roles/claude-user-macos/tasks/main.yml
  ansible/roles/claude-user-macos/templates/check-new.sh.j2
  ansible/roles/claude-user-macos/templates/send-reply.sh.j2
Due: none

Add ssh-macmini as T1 auto-approve resource
  docker/jit-approval-svc/internal/vault/vault.go
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build

Update check-new.sh to checkpoint-based approach
  ansible/roles/claude-user-macos/templates/check-new.sh.j2
Due: none

Add advance-checkpoint.sh template
  ansible/roles/claude-user-macos/templates/advance-checkpoint.sh.j2
Due: none

Add advance-checkpoint.sh deploy task
  ansible/roles/claude-user-macos/tasks/main.yml
Due: none

Add OpenZFS PPA to fix LUKS2 4k-sector write errors
  ansible/roles/configure-base/tasks/main.yml
Due: router:validate

Enable prompt caching, 1M context, and session pruning
  docker/moltbot/moltbot.json
Due: router:validate, moltbot:build

Add compaction reserveTokensFloor to prevent context limit resets
  docker/moltbot/moltbot.json
Due: router:validate, moltbot:build

Deploy OpenClaw config via CI/Ansible
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/moltbot/moltbot.json.j2
Due: router:validate, moltbot:build

Keep moltbot.json filename (no .j2 rename)
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/moltbot/moltbot.json
Due: router:validate, moltbot:build

Rename moltbot.json to .j2 for clarity
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/moltbot/moltbot.json.j2
Due: router:validate, moltbot:build

Fix Grafana webhook auth: template hooks token via Ansible
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/docker-compose.yml
  docker/grafana/provisioning/alerting/contactpoints.yml.j2
Due: router:validate

Comprehensive moltbot.json template from running config
  docker/moltbot/moltbot.json.j2
Due: router:validate, moltbot:build

fix: permissioning
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

feat: explicitly specify compaction parameters for openclaw
  docker/moltbot/moltbot.json.j2
Due: router:validate, moltbot:build

fix: typo
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

chore: update homeassistant (patch), jackett (patch), drawio (minor)
  docker/docker-compose.yml
Due: router:validate

chore: influxdb major update 2.8.0 → 3.8.0
  docker/docker-compose.yml
Due: router:validate

fix: override systemd-networkd-wait-online to wait for WAN interface only
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

chore: update OpenClaw to 2026.2.21
  docker/moltbot/Dockerfile
Due: router:validate, moltbot:build

fix: create override directory before copy, add retries to snapclient download
  ansible/roles/configure-homelab-services/tasks/main.yml
  ansible/roles/configure-snapclient/tasks/main.yml
Due: zwave:validate

fix: various openclaw config
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/moltbot/moltbot.json.j2
Due: router:validate, moltbot:build

fix: mask Hyper-V and disable GUI services on router for faster boot
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

fix(nextcloud): switch from FPM to Apache image
  docker/docker-compose.yml
Due: router:validate

fix: perms
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

another fix
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

Improve Grafana hook transform: better empty-payload handling
  docker/moltbot/hooks/transforms/grafana.js
Due: router:validate, moltbot:build

fix: handle amd64 architecture in shell2http install
  ansible/roles/configure-scanner/tasks/main.yml
Due: none

Fix Grafana transform: payload is nested inside raw.payload
  docker/moltbot/hooks/transforms/grafana.js
Due: router:validate, moltbot:build

Switch Grafana hook from wake to agent action
  docker/moltbot/hooks/transforms/grafana.js
  docker/moltbot/moltbot.json.j2
Due: router:validate, moltbot:build

grafana: increase high memory alert duration to 10m
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

nextcloud: add config.php with security and performance fixes
  docker/docker-compose.yml
  docker/nextcloud/config.php
Due: router:validate

nextcloud: hardcode instanceid/passwordsalt, use vault for secret and db_password
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/nextcloud/config.php
Due: router:validate

nextcloud: keep loglevel at 3 (errors only)
  docker/nextcloud/config.php
Due: router:validate

nextcloud: fix config.php volume mount to use absolute persistent data path
  docker/docker-compose.yml
Due: router:validate

nextcloud: add config_is_read_only for read-only mount
  docker/nextcloud/config.php
Due: router:validate

nextcloud: remove config_is_read_only and :ro mount
  docker/docker-compose.yml
  docker/nextcloud/config.php
Due: router:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, ansible/roles/fetch-vault-secrets/**/*, ansible/roles/restic/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-zwave.yml, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  jit-approval-svc:test: any of: docker/jit-approval-svc/**/*
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  jit-approval-svc:build: any of: docker/jit-approval-svc/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  chromium-browser:build: any of: docker/chromium-browser/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*
