Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, moltbot:build, amcrest2mqtt:build, snapcast:build, snapclient:build, vault:configure, vault:validate

router:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

zwave:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

satellite-2:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

moltbot:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

amcrest2mqtt:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapcast:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapclient:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

vault:configure:
  stage: configure
  image: alpine:3.19
  needs:
  - job: router:deploy
    optional: true
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.lab.nkontur.com:8200
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
    VAULT_SKIP_VERIFY: 'true'
  before_script:
  ...

vault:validate:
  interruptible: true
  stage: validate
  image: alpine:3.19
  needs: []
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.lab.nkontur.com:8200
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
    VAULT_SKIP_VERIFY: 'true'
  before_script:
  ...

memory: lesson about session transcripts as deep memory
  memory/2026-02-10.md
Due: none

memory: flush pre-compaction — SSH CA investigation, JIT fixes, state lock issue, deep memory lesson
  memory/2026-02-10.md
Due: none

fix: add -lock=false to vault:validate plan (CI_JOB_TOKEN can't lock state as Developer)
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

knowledge: merge avery-brewer into avery, add Reddit-sourced facts
  life/areas/people/avery-brewer/summary.md
  life/areas/people/avery/items.json
  life/areas/people/avery/summary.md
  memory/main-pipeline-state.json
Due: none

memory: flush — vault:validate fix, knowledge graph cleanup, SSH status, open MRs
  memory/2026-02-10.md
Due: none

memory: SSH JIT debugging session, router SSH IP
  TOOLS.md
Due: none

memory: SSH JIT working, Loki direct access discovered
  memory/2026-02-10.md
Due: none

security: enforce minimum tier per resource in JIT handler
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
  docker/jit-approval-svc/internal/vault/vault.go
Due: router:validate

fix: update vault tests for new resource tiers
  docker/jit-approval-svc/internal/vault/vault_test.go
Due: router:validate

security: harden sshd_config — disable root password login and password auth
  ansible/roles/claude-user/tasks/main.yml
Due: none

security: read DDNS credentials from env vars instead of CLI args
  ansible/roles/configure-router-network/tasks/main.yml
  networking/dns/ddns.py
Due: router:validate

tools: add Loki direct access, SSH JIT cookbook, fix T1 credential docs
  TOOLS.md
  memory/main-pipeline-state.json
  memory/router-recon-2026-02-10.md
Due: none

fix(jit): return credential inline for auto-approved requests
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
Due: router:validate

memory: router recon, security fixes, grafana JIT, TOOLS.md confidence
  memory/2026-02-10.md
Due: none

memory: discord, iOS, nkontur.com investigation, MR tally
  memory/2026-02-10.md
Due: none

feat: Deploy Noah's personal website (nkontur.com)
  ansible/roles/configure-docker/tasks/main.yml
  docker/nginx/http-external-drop-in.conf
  docker/nginx/sites/nkontur.com/README.md
  docker/nginx/sites/nkontur.com/contact.html
  docker/nginx/sites/nkontur.com/index.html
  docker/nginx/sites/nkontur.com/net-map/index.html
  docker/nginx/sites/nkontur.com/poetry.html
  docker/nginx/sites/nkontur.com/profile.jpg
  docker/nginx/sites/nkontur.com/publications.html
  docker/nginx/sites/nkontur.com/style.css
Due: router:validate

fix: Remove incorrect delegate_to from synchronize task
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate

fix: clean up nkontur.com site files
  docker/nginx/sites/nkontur.com/README.md
  docker/nginx/sites/nkontur.com/contact.html
  docker/nginx/sites/nkontur.com/index.html
  docker/nginx/sites/nkontur.com/net-map/index.html
  docker/nginx/sites/nkontur.com/poetry.html
  docker/nginx/sites/nkontur.com/profile.jpg
  docker/nginx/sites/nkontur.com/publications.html
Due: router:validate

feat: serve nkontur.com from lab_nginx for internal VLAN access
  docker/docker-compose.yml
  docker/nginx/http-internal-drop-in.conf
  docker/pihole/custom.conf
Due: router:validate

feat: add per-host SSH JIT roles for satellite-2, zwave, and job laptops
  ansible/roles/claude-user/defaults/main.yml
  ansible/roles/claude-user/tasks/main.yml
  ansible/satellite-2.yml
  ansible/zwave.yml
  docker/jit-approval-svc/internal/backend/registry.go
  docker/jit-approval-svc/internal/backend/ssh.go
  docker/jit-approval-svc/internal/backend/ssh_test.go
  docker/jit-approval-svc/internal/vault/vault.go
  terraform/vault/policies.tf
  terraform/vault/ssh.tf
Due: router:validate, zwave:validate, satellite-2:validate, vault:configure, vault:validate

feat: add moltbot-nginx-bridge for direct nginx access
  docker/docker-compose.yml
Due: router:validate

CRITICAL: add GitHub mirror rule - no job info in homelab commits
  MEMORY.md
  memory/2026-02-10.md
  memory/main-pipeline-state.json
Due: none

memory: github mirror scare, MR sanitization, bridge approach
  memory/2026-02-10.md
Due: none

feat: add per-host SSH JIT roles for satellite-2, zwave, and workstations
  ansible/roles/claude-user/defaults/main.yml
  ansible/roles/claude-user/tasks/main.yml
  ansible/satellite-2.yml
  ansible/zwave.yml
  docker/jit-approval-svc/internal/backend/registry.go
  docker/jit-approval-svc/internal/backend/ssh.go
  docker/jit-approval-svc/internal/backend/ssh_test.go
  docker/jit-approval-svc/internal/vault/vault.go
  terraform/vault/policies.tf
  terraform/vault/ssh.tf
Due: router:validate, zwave:validate, satellite-2:validate, vault:configure, vault:validate

Add missing content: profile photo, poetry page, resume link, blog nav, email update
  docker/nginx/sites/nkontur.com/contact.html
  docker/nginx/sites/nkontur.com/index.html
  docker/nginx/sites/nkontur.com/poetry.html
  docker/nginx/sites/nkontur.com/publications.html
Due: router:validate

memory: always query source of truth, never trust cached state
  MEMORY.md
Due: none

memory: MR scrubbing, nkontur audit, runbook review, source-of-truth lesson
  memory/2026-02-10.md
Due: none

fix(nginx): add /images/ and /files/ aliases for nkontur.com assets
  docker/nginx/http-external-drop-in.conf
Due: router:validate

fix: correct nginx asset alias paths for nkontur.com
  docker/nginx/http-external-drop-in.conf
Due: router:validate

memory: nkontur asset path debugging, webroot lesson
  memory/2026-02-10.md
  memory/main-pipeline-state.json
Due: none

feat(nkontur): inline poem content in poetry page
  docker/nginx/sites/nkontur.com/poetry.html
Due: router:validate

fix(nkontur): update contact email to konoahko@gmail.com
  docker/nginx/sites/nkontur.com/contact.html
Due: router:validate

memory: nkontur.com poetry inline + contact email update
  memory/2026-02-10.md
  memory/main-pipeline-state.json
Due: none

revert(nkontur): keep poetry as PDF links per Noah's preference
  docker/nginx/sites/nkontur.com/poetry.html
Due: router:validate

fix(nkontur): add /contacts redirect to /contact
  docker/nginx/sites/nkontur.com/contacts.html
Due: router:validate

meditation: reading the poems
  memory/meditations.md
Due: none

chore: patch image updates for gitlab, jackett, vaultwarden
  docker/docker-compose.yml
Due: router:validate

fix: add health conditions to depends_on declarations
  docker/docker-compose.yml
Due: router:validate

security: add cap_drop ALL to all containers
  docker/docker-compose.yml
Due: router:validate

memory: cap_drop deployment issues, outage, process update
  memory/2026-02-11.md
  memory/main-pipeline-state.json
  memory/moltbook-notes.md
Due: none

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*
