Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

router:validate:
  interruptible: true
  image: willhallonline/ansible:latest
  stage: validate
  needs:
  - job: setup:dependencies
    artifacts: true
  before_script:
  - mkdir -p ~/.ssh
  - cp ansible/known_hosts ~/.ssh/known_hosts
  - pip3 install --cache-dir .cache/pip --no-warn-script-location -q -r requirements.txt
  ...

zwave:validate:
  interruptible: true
  image: willhallonline/ansible:latest
  stage: validate
  needs:
  - job: setup:dependencies
    artifacts: true
  before_script:
  - mkdir -p ~/.ssh
  - cp ansible/known_hosts ~/.ssh/known_hosts
  - pip3 install --cache-dir .cache/pip --no-warn-script-location -q -r requirements.txt
  ...

satellite-2:validate:
  interruptible: true
  image: willhallonline/ansible:latest
  stage: validate
  needs:
  - job: setup:dependencies
    artifacts: true
  before_script:
  - mkdir -p ~/.ssh
  - cp ansible/known_hosts ~/.ssh/known_hosts
  - pip3 install --cache-dir .cache/pip --no-warn-script-location -q -r requirements.txt
  ...

router:deploy:
  image: willhallonline/ansible:latest
  stage: deploy
  resource_group: deploy-$CI_JOB_NAME
  before_script:
  - mkdir -p ~/.ssh
  - cp ansible/known_hosts ~/.ssh/known_hosts
  - pip3 install --cache-dir .cache/pip --no-warn-script-location -q -r requirements.txt
  ...

zwave:deploy:
  image: willhallonline/ansible:latest
  stage: deploy
  resource_group: deploy-$CI_JOB_NAME
  before_script:
  - mkdir -p ~/.ssh
  - cp ansible/known_hosts ~/.ssh/known_hosts
  - pip3 install --cache-dir .cache/pip --no-warn-script-location -q -r requirements.txt
  ...

satellite-2:deploy:
  image: willhallonline/ansible:latest
  stage: deploy
  resource_group: deploy-$CI_JOB_NAME
  before_script:
  - mkdir -p ~/.ssh
  - cp ansible/known_hosts ~/.ssh/known_hosts
  - pip3 install --cache-dir .cache/pip --no-warn-script-location -q -r requirements.txt
  ...

perf(ci): Use artifacts instead of cache for faster dep sharing
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

perf(ci): Remove setup stage - all jobs run in parallel from start
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

refactor: use custom Docker image instead of runtime deps
  .gitlab-ci.yml
  ci/Dockerfile
Due: router:validate, zwave:validate, satellite-2:validate

fix(ci): Remove broken Docker image build, use working inline approach
  .gitlab-ci.yml
  ci/Dockerfile
Due: router:validate, zwave:validate, satellite-2:validate

fix(ci): remove images tag - runner has no tags configured
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: use explicit registry path for CI_IMAGE
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(ci): Use Kaniko instead of dind for image builds
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

feat(ci): Add custom Docker image for faster pipelines
  .gitlab-ci.yml
  ci/Dockerfile
Due: router:validate, zwave:validate, satellite-2:validate

fix: use explicit registry in Kaniko auth config
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: skip TLS verification for local registry
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(ci): target images runner for build-image job
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(ci): use GitLab's built-in container registry
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(ci): remove broken Docker build, use inline installation
  .gitlab-ci.yml
  ci/Dockerfile
Due: router:validate, zwave:validate, satellite-2:validate

Lesson learned: violated parallel browser worker rule (2026-02-02)
  MEMORY.md
Due: none

job-hunting: Document native file dialog issue and fix upload approach
  MEMORY.md
  memory/2026-02-02.md
  memory/moltbook-notes.md
  skills/job-hunting/SKILL.md
  skills/job-hunting/references/tracker.md
Due: none

Add persistent SSH key pair for work machine access
  TOOLS.md
Due: none

job-hunting: Emphasize Simplify-first workflow, add open-ended response quality standards
  skills/job-hunting/SKILL.md
  skills/job-hunting/references/tracker.md
Due: none

job-hunting: Remove Simplify, streamline to direct manual fill workflow
  skills/job-hunting/SKILL.md
  skills/job-hunting/references/tracker.md
Due: none

job-hunting: Add mandatory Step 0 dialog dismissal, emphasize atomic type+Return
  skills/job-hunting/SKILL.md
Due: none

job-hunting: Fix resume upload verification - check form state, not file picker
  skills/job-hunting/SKILL.md
Due: none

Memory flush: Job application session progress and lessons
  MEMORY.md
  memory/2026-02-02.md
Due: none

fix(ci): Set resource_group directly on jobs - template inheritance doesn't work
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

job-hunting: Add mandatory pre-flight check for single worker
  skills/job-hunting/SKILL.md
Due: none

MEMORY: Reinforce single-worker rule with executable check
  MEMORY.md
Due: none

fix: remove usb zigbee
  ansible/satellite-2.yml
  docker/docker-compose-zigbee.yml
Due: router:validate, satellite-2:validate, router:deploy, satellite-2:deploy

feat(zigbee2mqtt): add device name mappings and config sync
  docker/zigbee2mqtt/configuration.yaml
Due: router:validate, router:deploy

TOOLS: Document Home Assistant API access
  TOOLS.md
  memory/moltbook-notes.md
Due: none

MEMORY: Lesson - persist new capabilities immediately
  MEMORY.md
Due: none

feat(moltbot): Install agent-browser for AI browser automation
  docker/moltbot/Dockerfile
Due: router:validate, router:deploy

feat(zwave-js-ui): add Z-Wave device name mappings
  ansible/inventory.yml
  docker/zwave-js-ui/nodes.json
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

fix(zwave): Update zwave-js-ui from 9.14.4 to 11.10.1
  docker/docker-compose-zwave.yml
Due: router:validate, zwave:validate, router:deploy, zwave:deploy

fix(ci): Use single resource_group for all deploys
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(ci): Use explicit resource_group per job
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(ha): Migrate Awair sensors to modern template format
  docker/homeassistant/configuration.yaml
Due: router:validate, router:deploy

feat(ci): Add separate moltbot-gateway build job
  .gitlab-ci.yml
  ansible/inventory.yml
  docker/docker-compose.yml
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy, zwave:deploy, satellite-2:deploy

perf(ci): Use docker socket instead of dind for faster builds
  .gitlab-ci.yml
  base/gitlab-runner/config.toml
Due: router:validate, zwave:validate, satellite-2:validate

feat(ci): Allow moltbot:build on MR pipelines
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(ci): Remove images tag requirement (runner not tagged yet)
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(ci): Re-add dind until runner config deploys
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

feat(ci): Add docker-socket-proxy for secure builds
  .gitlab-ci.yml
  base/gitlab-runner/config.toml
  docker/docker-compose.yml
Due: router:validate, zwave:validate, satellite-2:validate, router:deploy

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  router:deploy: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*
  zwave:deploy: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml
  satellite-2:deploy: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*
