Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, jit-approval-svc:test, moltbot:build, amcrest2mqtt:build, snapcast:build, jit-approval-svc:build, snapclient:build, chromium-browser:build, vault:configure, vault:validate

router:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

zwave:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

satellite-2:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

jit-approval-svc:test:
  interruptible: true
  stage: validate
  image: golang:1.22-alpine
  needs: []
  script:
  - cd docker/jit-approval-svc
  - go test -v -count=1 ./...

moltbot:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

amcrest2mqtt:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapcast:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

jit-approval-svc:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapclient:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

chromium-browser:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

vault:configure:
  stage: deploy
  image: alpine:3.19
  environment: admin
  needs: []
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
  before_script:
  - apk add --no-cache wget unzip
  - wget -q "https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip"
  ...

Add OpenClaw webhook contact point for Grafana alerts
  docker/grafana/provisioning/alerting/contactpoints.yml
  docker/grafana/provisioning/alerting/policies.yml
Due: router:validate

memory: 2026-02-19 afternoon session notes
  memory/2026-02-19.md
Due: none

feat: add anthropic auth fallback profile
  docker/moltbot/agents/main/agent/auth-profiles.json
Due: router:validate, moltbot:build

fix: inject claude oauth token fallback
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/moltbot/agents/main/agent/auth-profiles.json
Due: router:validate, moltbot:build

fix: inject actual creds
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

feat: add Vault plumbing for fallback token
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/moltbot/agents/main/agent/auth-profiles.json
Due: router:validate, moltbot:build

fix: rendering
  docker/moltbot/agents/main/agent/auth-profiles.json
Due: router:validate, moltbot:build

memory: anthropic oauth ban risk + auth fallback setup
  memory/2026-02-19.md
Due: none

fix: add anthropic fallback profile
  docker/moltbot/moltbot.json
Due: router:validate, moltbot:build

fix: set moltbot config file ownership to UID 1000
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

Fix webhook to hit OpenClaw hooks endpoint directly
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
  docker/grafana/provisioning/alerting/contactpoints.yml
  docker/grafana/provisioning/alerting/policies.yml
Due: router:validate

Track grafana.js hook transform in source control
  docker/moltbot/hooks/transforms/grafana.js
Due: router:validate, moltbot:build

Add Ansible task to deploy hook transforms
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: none

fix: build qmd from source to generate dist/ directory
  docker/moltbot/Dockerfile
Due: router:validate, moltbot:build

Enable hybrid memory search with temporal decay
  docker/moltbot/moltbot.json
Due: router:validate, moltbot:build

refactor: use 'claude' as SSH username for all hosts
  terraform/vault/ssh.tf
Due: vault:configure, vault:validate

Remove user/group overrides from satellite and zwave playbooks
  ansible/satellite-2.yml
  ansible/zwave.yml
Due: zwave:validate, satellite-2:validate

Fix workstation SSH roles to use actual usernames
  terraform/vault/ssh.tf
Due: vault:configure, vault:validate

Fix container health alert: execErrState OK instead of Alerting
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

fix: skip active session during transcript scrubbing
  docker/scrub-transcripts/scrub-transcripts.sh
Due: router:validate

Fix Mac Mini ansible_user to root
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

feat: add JIT SSH support for Mac Mini (macOS)
  ansible/inventory.yml
  ansible/macmini.yml
  ansible/roles/claude-user-macos/defaults/main.yml
  ansible/roles/claude-user-macos/handlers/main.yml
  ansible/roles/claude-user-macos/tasks/main.yml
  docker/jit-approval-svc/internal/backend/registry.go
  docker/jit-approval-svc/internal/backend/ssh.go
  terraform/vault/ssh.tf
Due: router:validate, zwave:validate, satellite-2:validate, jit-approval-svc:test, jit-approval-svc:build, vault:configure, vault:validate

Align with unified claude username + add iMessage/Notes sudoers
  ansible/roles/claude-user-macos/defaults/main.yml
  ansible/roles/claude-user-macos/tasks/main.yml
  terraform/vault/ssh.tf
Due: vault:configure, vault:validate

Add macmini CI validate + deploy stages
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: include package.json + node_modules in QMD install
  docker/moltbot/Dockerfile
Due: router:validate, moltbot:build

fix: add hooks config with absolute transformsDir path
  docker/moltbot/moltbot.json
Due: router:validate, moltbot:build

fix: bootstrap Xcode CLT before Mac Mini Ansible setup
  ansible/macmini.yml
Due: none

Add Grafana alert response protocol to directives
  memory/directives.md
Due: none

fix: add macmini SSH signing permission to JIT Vault policy
  terraform/vault/policies.tf
Due: vault:configure, vault:validate

fix: add principals to allowed_users in all SSH roles
  terraform/vault/ssh.tf
Due: vault:configure, vault:validate

refactor: SSH principals match usernames
  ansible/roles/claude-user-macos/defaults/main.yml
  ansible/satellite-2.yml
  ansible/zwave.yml
  docker/jit-approval-svc/internal/backend/ssh.go
  docker/jit-approval-svc/internal/backend/ssh_test.go
Due: router:validate, zwave:validate, satellite-2:validate, jit-approval-svc:test, jit-approval-svc:build

refactor: use generic workstation identifiers in JIT and Vault
  docker/jit-approval-svc/internal/backend/registry.go
  docker/jit-approval-svc/internal/backend/ssh.go
  docker/jit-approval-svc/internal/backend/ssh_test.go
  docker/jit-approval-svc/internal/vault/vault.go
  terraform/vault/policies.tf
  terraform/vault/ssh.tf
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build, vault:configure, vault:validate

Fix Mac Mini SSH cert auth: add fetch_ssh_ca_key
  ansible/macmini.yml
Due: none

chore: update jackett 0.24.1157→0.24.1167, gitlab-ee 18.8.4→18.9.0
  docker/docker-compose.yml
Due: router:validate

chore: update OpenClaw 2026.2.17 → 2026.2.19
  docker/moltbot/Dockerfile
Due: router:validate, moltbot:build

chore: update InfluxDB 2.8.0 → 3.8.0 (MAJOR)
  docker/docker-compose.yml
Due: router:validate

fix: require auth for all Loki endpoints, not just push
  docker/grafana/provisioning/datasources/loki.yml
  docker/nginx/router.lab.nkontur.com/internal_http.conf
Due: router:validate

Fix Mac Mini claude user: use sysadminctl + correct primary username
  ansible/roles/claude-user-macos/defaults/main.yml
  ansible/roles/claude-user-macos/tasks/main.yml
Due: none

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, ansible/roles/fetch-vault-secrets/**/*, ansible/roles/restic/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-zwave.yml, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  jit-approval-svc:test: any of: docker/jit-approval-svc/**/*
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  jit-approval-svc:build: any of: docker/jit-approval-svc/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  chromium-browser:build: any of: docker/chromium-browser/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*
