Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, jit-approval-svc:test, moltbot:build, amcrest2mqtt:build, snapcast:build, jit-approval-svc:build, snapclient:build, chromium-browser:build, vault:configure, vault:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, ansible/roles/fetch-vault-secrets/**/*, ansible/roles/restic/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-zwave.yml, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  jit-approval-svc:test: any of: docker/jit-approval-svc/**/*
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  jit-approval-svc:build: any of: docker/jit-approval-svc/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  chromium-browser:build: any of: docker/chromium-browser/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*

chore: major update influxdb 2.8.0 → 3.8.0-enterprise
  docker/docker-compose.yml
Due: router:validate

chore: major update nominatim 4.5 → 5.2.0
  docker/docker-compose.yml
Due: router:validate

fix; add allowed origins
  docker/openclaw/openclaw.json.j2
Due: router:validate

fix: typo
  docker/openclaw/openclaw.json.j2
Due: router:validate

fix: increase valhalla file descriptor limit to prevent crash on elevation data
  docker/docker-compose.yml
Due: router:validate

fix(telegraf): use exec method for ping to avoid CAP_NET_RAW requirement
  base/telegraf/telegraf.conf
Due: router:validate

feat: replace Nominatim with Headway maps stack
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
  docker/nginx/router.lab.nkontur.com/internal_http.conf
  docs/HEADWAY_SETUP.md
Due: router:validate

feat: add Aruba switch config management via CI with rollback safety
  .gitlab-ci.yml
  ansible/bootstrap.yml
  ansible/roles/configure-switch/README.md
  ansible/roles/configure-switch/defaults/main.yml
  ansible/roles/configure-switch/meta/main.yml
  ansible/roles/configure-switch/tasks/main.yml
  ansible/switch.yml
Due: router:validate, zwave:validate, satellite-2:validate

feat: use full US extract instead of Cleveland for Headway maps
  docker/docker-compose.yml
  docs/HEADWAY_SETUP.md
Due: router:validate

switch: add ports 0/0/2 and 0/0/3 to VLAN 4 (management)
  networking/switches/aruba-config
Due: router:validate

fix(jit): rename ssh→ssh-router, surface mint errors to Telegram
  docker/jit-approval-svc/internal/backend/registry.go
  docker/jit-approval-svc/internal/backend/ssh.go
  docker/jit-approval-svc/internal/backend/ssh_test.go
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
  docker/jit-approval-svc/internal/store/store_test.go
  docker/jit-approval-svc/internal/telegram/telegram.go
  docker/jit-approval-svc/internal/vault/vault.go
  docker/jit-approval-svc/internal/vault/vault_test.go
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build

fix(jit): correct ssh test assertion — backend metadata is 'ssh' not resource name
  docker/jit-approval-svc/internal/backend/ssh_test.go
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build

feat(telegraf): increase ping frequency to 5s, wallet balance to 30s
  base/telegraf/telegraf.conf
Due: router:validate

Revert "feat(telegraf): increase ping frequency to 5s, wallet balance to 30s"
  base/telegraf/telegraf.conf
Due: router:validate

Revert "Revert "feat(telegraf): increase ping frequency to 5s, wallet balance to 30s""
  base/telegraf/telegraf.conf
Due: router:validate

fix: isolate SSH certificate principals per host
  docker/jit-approval-svc/internal/backend/ssh.go
  docker/jit-approval-svc/internal/backend/ssh_test.go
  terraform/vault/ssh.tf
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build, vault:configure, vault:validate

fix(ansible): deploy per-host SSH principals via Ansible
  ansible/macmini.yml
  ansible/router.yml
  ansible/satellite-2.yml
  ansible/zwave.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(ansible): fail hard if Vault SSH CA key fetch fails
  ansible/roles/claude-user-macos/tasks/main.yml
  ansible/roles/claude-user/tasks/main.yml
  ansible/roles/fetch-vault-secrets/tasks/main.yml
Due: router:validate

fix(firewall): allow IoT VLAN to reach Vault on port 8200
  networking/iptables/rules.v4
Due: router:validate

fix(ansible): fail deploy if Vault is unreachable
  ansible/roles/fetch-vault-secrets/tasks/main.yml
Due: router:validate

Revert "fix(ansible): fail deploy if Vault is unreachable"
  ansible/roles/fetch-vault-secrets/tasks/main.yml
Due: router:validate

fix(ansible): pin ansible_host for IoT hosts to avoid DNS race
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

Revert "fix(ansible): pin ansible_host for IoT hosts to avoid DNS race"
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(ansible): pin ansible_host for all hosts to static IPs
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(switch): add Vault password auth and legacy SSH algorithms
  ansible/roles/configure-switch/defaults/main.yml
  ansible/roles/configure-switch/tasks/main.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
Due: router:validate

fix(switch): add enable command before privileged operations
  ansible/roles/configure-switch/tasks/main.yml
Due: none

feat(switch): assign ports 0/0/2 and 0/0/3 to VLAN 4 (mgmt)
  networking/switches/aruba-config
Due: router:validate

feat(telegraf): re-enable UPS SNMP monitoring
  base/telegraf/telegraf.conf
Due: router:validate

chore: patch updates + pin unpinned images (2026-02-25)
  docker/docker-compose.yml
Due: router:validate

chore: update OpenClaw 2026.2.23 → 2026.2.24
  docker/openclaw/Dockerfile
Due: router:validate

fix(grafana): change execErrState to Error for all alert rules
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

fix: purge libzfs6linux before ZFS install to avoid diversion conflict
  ansible/roles/configure-base/tasks/main.yml
Due: router:validate

Fix ZFS package installation by purging conflicting packages before install
  ansible/roles/configure-base/tasks/main.yml
Due: router:validate

feat: add claude-elevated user for sudo SSH access via JIT T2
  ansible/roles/claude-user/defaults/main.yml
  ansible/roles/claude-user/tasks/main.yml
  docker/jit-approval-svc/internal/backend/ssh.go
  docker/jit-approval-svc/internal/vault/vault.go
  terraform/vault/ssh.tf
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build, vault:configure, vault:validate

feat: enable elevated SSH access on router, zwave, satellite-2, macmini
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: don't enable elevated SSH on macmini
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(jit): register elevated SSH resources with SSH backend
  docker/jit-approval-svc/internal/backend/registry.go
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build

fix(vault): add elevated SSH signing paths to JIT policy
  terraform/vault/policies.tf
Due: vault:configure, vault:validate
