Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, jit-approval-svc:test, moltbot:build, amcrest2mqtt:build, snapcast:build, jit-approval-svc:build, snapclient:build, chromium-browser:build, vault:configure, vault:validate

router:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

zwave:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

satellite-2:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

jit-approval-svc:test:
  interruptible: true
  stage: validate
  image: golang:1.22-alpine
  needs: []
  script:
  - cd docker/jit-approval-svc
  - go test -v -count=1 ./...

moltbot:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

amcrest2mqtt:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapcast:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

jit-approval-svc:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapclient:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

chromium-browser:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://lab.nkontur.com:2376
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

vault:configure:
  stage: deploy
  image: alpine:3.19
  environment: admin
  needs: []
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
  before_script:
  - apk add --no-cache wget unzip
  - wget -q "https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip"
  ...

feat(gitlab): enable Prometheus metrics endpoint
  docker/gitlab/gitlab.rb
Due: router:validate

chore: image updates 2026-03-07 (patch+minor)
  docker/docker-compose.yml
Due: router:validate

fix: resource right-sizing from infrastructure audit
  docker/docker-compose.yml
Due: router:validate

refactor: rename remaining moltbot references to openclaw
  .gitlab-ci.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  ansible/roles/fetch-vault-secrets/tasks/main.yml
  docker/docker-compose.yml
  docker/telegraf/telegraf.conf
  scripts/check-updates.sh
  terraform/vault/outputs.tf
  terraform/vault/policies.tf
  terraform/vault/roles.tf
Due: router:validate, zwave:validate, satellite-2:validate, vault:configure, vault:validate

chore: batch image updates 2026-03-08
  docker/docker-compose.yml
Due: router:validate

fix: right-size container memory limits (pelias-placeholder, tautulli)
  docker/docker-compose.yml
Due: router:validate

chore: batch image updates 2026-03-09
  docker/docker-compose.yml
Due: router:validate

fix: resource limits and healthcheck improvements
  docker/docker-compose.yml
Due: router:validate

fix: block vault path traversal in JIT service
  docker/jit-approval-svc/internal/backend/vault_dynamic.go
  docker/jit-approval-svc/internal/backend/vault_dynamic_test.go
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build

fix: restore Apple TV direct access to Plex (iptables)
  ansible/inventory.yml
  docker/docker-compose.yml
  networking/iptables/rules.v4
Due: router:validate, zwave:validate, satellite-2:validate

fix: add ADVERTISE_IP so Apple TV can direct-connect to Plex
  docker/docker-compose.yml
  networking/iptables/rules.v4
Due: router:validate

fix: remove duplicate deploy key in tautulli service
  docker/docker-compose.yml
Due: router:validate

fix: headway 0.4.0 compat — transitmux alias + enable_transit_routing
  docker/docker-compose.yml
Due: router:validate

fix: headway 0.4.0 compat — transitmux env override + enable_transit_routing
  docker/docker-compose.yml
Due: router:validate

chore: update jackett 0.24.1323 → 0.24.1332 (patch)
  docker/docker-compose.yml
Due: router:validate

chore: update influxdb 2.8.0 → 3.8.4-enterprise (major)
  docker/docker-compose.yml
Due: router:validate

fix: disable Tempo usage reporting to stop DNS noise
  docker/tempo/tempo.yaml
Due: router:validate

feat(jit): clean up expired Grafana service account tokens on mint
  docker/jit-approval-svc/internal/backend/grafana.go
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build

test: update Grafana backend test to handle cleanup GET request
  docker/jit-approval-svc/internal/backend/backend_test.go
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build

Add cron job to clean expired Grafana JIT service account tokens
  ansible/roles/configure-homelab-services/tasks/main.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  scripts/grafana-token-cleanup.sh
Due: router:validate

Add lab_nginx stream config to repo (Plex/iperf3/GitLab SSH proxies)
  ansible/inventory.yml
  docker/nginx/lab.nkontur.com/stream.conf
Due: router:validate, zwave:validate, satellite-2:validate

Remove tasks that stop/disable/uninstall host telegraf
  ansible/roles/configure-base/tasks/main.yml
Due: router:validate

Remove SSL private key mount and make certs read-only in Ombi
  docker/docker-compose.yml
Due: router:validate

Remove stale one-time Ansible cleanup tasks
  ansible/roles/configure-base/tasks/main.yml
  ansible/roles/configure-docker/tasks/main.yml
  ansible/roles/configure-homelab-services/tasks/main.yml
Due: router:validate

Fix Grafana token cleanup undefined var; fix OTel healthcheck for scratch image
  ansible/roles/configure-homelab-services/tasks/main.yml
  docker/docker-compose.yml
Due: router:validate

Persist Valhalla tile fix + disable travelmux healthcheck
  docker/docker-compose.yml
Due: router:validate

Add tileserver config to repo (US mbtiles, correct paths)
  ansible/inventory.yml
  docker/tileserver/config.json
Due: router:validate, zwave:validate, satellite-2:validate

Fix headway-frontend tileserver proxy (pass Host header, rewrite URLs)
  ansible/inventory.yml
  docker/docker-compose.yml
  docker/headway/nginx.conf.template
Due: router:validate, zwave:validate, satellite-2:validate

Add nginx vhosts and DNS for Navidrome and Lidarr
  ansible/inventory.yml
  docker/nginx/lab.nkontur.com/http.conf
Due: router:validate, zwave:validate, satellite-2:validate

chore: patch updates + prowlarr digest pin
  docker/docker-compose.yml
Due: router:validate

fix: increase pelias-placeholder memory limit to 3G
  docker/docker-compose.yml
Due: router:validate

fix: increase tileserver memory limit and healthcheck tolerance
  docker/docker-compose.yml
Due: router:validate

fix: relax headway-frontend tileserver dependency to service_started
  docker/docker-compose.yml
Due: router:validate

chore: bump gitlab-ee 18.9.1→18.9.2, jackett 0.24.1341→0.24.1350
  docker/docker-compose.yml
Due: router:validate

fix: right-size over-provisioned container memory limits
  docker/docker-compose.yml
Due: router:validate

chore: add remaining image updates
  docker/docker-compose-satellite.yml
  docker/docker-compose-zigbee.yml
  docker/docker-compose-zwave.yml
  docker/docker-compose.yml
  docker/jit-approval-svc/Dockerfile
  docker/openclaw/Dockerfile
Due: router:validate, zwave:validate, satellite-2:validate, jit-approval-svc:test, jit-approval-svc:build

feat(chromium): add anti-detection stealth patches for Cloudflare bypass
  docker/chromium-browser/Dockerfile
  docker/chromium-browser/entrypoint.sh
  docker/chromium-browser/stealth-extension/content.js
  docker/chromium-browser/stealth-extension/manifest.json
Due: router:validate, chromium-browser:build

security: fix JIT path injection, zombie processes, and container hardening
  docker/docker-compose.yml
  docker/jit-approval-svc/internal/backend/vault_dynamic.go
  docker/jit-approval-svc/internal/backend/vault_dynamic_test.go
  docker/jit-approval-svc/internal/telegram/telegram.go
Due: router:validate, jit-approval-svc:test, jit-approval-svc:build

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, ansible/roles/fetch-vault-secrets/**/*, ansible/roles/restic/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-zwave.yml, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, ansible/roles/deploy-compose/**/*, docker/docker-compose-observability.yml, docker/docker-compose-satellite.yml, docker/promtail/satellite-config.yml, docker/telegraf/satellite-telegraf.conf, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  jit-approval-svc:test: any of: docker/jit-approval-svc/**/*
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  jit-approval-svc:build: any of: docker/jit-approval-svc/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  chromium-browser:build: any of: docker/chromium-browser/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*
