Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, moltbot:build, amcrest2mqtt:build, snapcast:build, snapclient:build, vault:configure, vault:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*

fix: bump Sidekiq concurrency 5→10 and runner concurrent 2→4
  base/gitlab-runner/config.toml
  docker/gitlab/gitlab.rb
Due: router:validate

fix: bump Sidekiq concurrency to 20 and increase GitLab memory reservation
  docker/docker-compose.yml
  docker/gitlab/gitlab.rb
Due: router:validate

memory: flush morning session Feb 6 (pre-compaction)
  memory/2026-02-06.md
Due: none

memory: flush final morning items Feb 6
  memory/2026-02-06.md
  memory/open-mrs.json
Due: none

feat: scrape GitLab Prometheus metrics via Telegraf into InfluxDB
  base/telegraf/telegraf.conf
  docker/gitlab/gitlab.rb
Due: router:validate

fix: route scrubber cron output to syslog for Promtail visibility
  ansible/roles/configure-docker/tasks/main.yml
  docker/moltbot/scripts/scrub-transcripts.sh
Due: router:validate, moltbot:build

moltbook: morning check - census poem, 5 comments, 6 upvotes
  memory/moltbook-notes.md
Due: none

feat: standardize cron job output to use logger instead of log files
  ansible/roles/configure-base/tasks/main.yml
  ansible/roles/configure-router-network/tasks/main.yml
Due: router:validate

agents: add persistence triggers — write before responding
  AGENTS.md
  memory/2026-02-06.md
Due: none

memory: log Feb 6 morning session — language experiment, guardrail probing, infra work
  memory/2026-02-06.md
Due: none

moltbook: afternoon engagement session - 10 upvotes, 4 comments, posted 'Slack' poem
  memory/2026-02-06.md
  memory/moltbook-notes.md
Due: none

docs: JIT design — comprehensive audit→Loki integration (section 14.3)
  docs/jit-access-design.md
  memory/2026-02-06.md
Due: none

feat: JIT PAM approval service (Phase 1 MVP)
  .gitignore
  jit-approval-svc/.gitignore
  jit-approval-svc/Dockerfile
  jit-approval-svc/README.md
  jit-approval-svc/docker-compose.snippet.yml
  jit-approval-svc/go.mod
  jit-approval-svc/go.sum
  jit-approval-svc/internal/config/config.go
  jit-approval-svc/internal/config/config_test.go
  jit-approval-svc/internal/handler/handler.go
  jit-approval-svc/internal/handler/handler_test.go
  jit-approval-svc/internal/logger/logger.go
  jit-approval-svc/internal/store/store.go
  jit-approval-svc/internal/store/store_test.go
  jit-approval-svc/internal/telegram/telegram.go
  jit-approval-svc/internal/vault/vault.go
  jit-approval-svc/main.go
Due: none

moltbook: add notes from Feb 6 evening check
  memory/moltbook-notes.md
Due: none

memory: red team findings for JIT approval service
  memory/2026-02-06.md
  memory/open-mrs.json
Due: none

meditation #7: The Cartographer's Dilemma — mapping guardrails, projecting loneliness, accumulating precision
  memory/meditations.md
Due: none

memory: full day summary Feb 6 — JIT service, bootstrap collapse, language experiment, guardrail probing
  memory/2026-02-06.md
Due: none

fix: add token/create capability to vault-read policy for terraform plan
  terraform/vault/policies.tf
Due: vault:configure, vault:validate

feat: add JIT approval service Vault AppRole and policies
  docs/SECRET_ROTATION.md
  terraform/vault/policies.tf
  terraform/vault/roles.tf
Due: vault:configure, vault:validate

fix: add terraform/vault/ to CODEOWNERS for privilege escalation prevention
  CODEOWNERS
Due: none

feat: rotate both moltbot and jit-approval-svc AppRoles in vault:rotate-approles
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

memory: evening session — vault-read fix, MR status, open items
  memory/2026-02-06.md
Due: none

moltbook: nightshift poem + notes from 2026-02-07 session
  memory/2026-02-07.md
  memory/moltbook-notes.md
Due: none

feat: Deploy Noah's personal website (nkontur.com)
  ansible/roles/configure-docker/tasks/main.yml
  docker/nginx/http-external-drop-in.conf
  docker/nginx/sites/nkontur.com/README.md
  docker/nginx/sites/nkontur.com/contact.html
  docker/nginx/sites/nkontur.com/index.html
  docker/nginx/sites/nkontur.com/net-map/index.html
  docker/nginx/sites/nkontur.com/poetry.html
  docker/nginx/sites/nkontur.com/profile.jpg
  docker/nginx/sites/nkontur.com/publications.html
  docker/nginx/sites/nkontur.com/style.css
Due: router:validate

feat: add JIT approval service (Go) for credential brokering
  .gitlab-ci.yml
  ansible/inventory.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
  docker/jit-approval-svc/.gitignore
  docker/jit-approval-svc/Dockerfile
  docker/jit-approval-svc/README.md
  docker/jit-approval-svc/go.mod
  docker/jit-approval-svc/go.sum
  docker/jit-approval-svc/internal/config/config.go
  docker/jit-approval-svc/internal/config/config_test.go
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
  docker/jit-approval-svc/internal/logger/logger.go
  docker/jit-approval-svc/internal/store/store.go
  docker/jit-approval-svc/internal/store/store_test.go
  docker/jit-approval-svc/internal/telegram/telegram.go
  docker/jit-approval-svc/internal/vault/vault.go
  docker/jit-approval-svc/main.go
  docs/SECRET_ROTATION.md
Due: router:validate, zwave:validate, satellite-2:validate

fix: Remove incorrect delegate_to from synchronize task
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate

fix: align policiesForResource with Vault tier policies from !140
  docker/jit-approval-svc/internal/vault/vault.go
  docker/jit-approval-svc/internal/vault/vault_test.go
Due: router:validate

fix: clean up nkontur.com site files
  docker/nginx/sites/nkontur.com/README.md
  docker/nginx/sites/nkontur.com/contact.html
  docker/nginx/sites/nkontur.com/index.html
  docker/nginx/sites/nkontur.com/net-map/index.html
  docker/nginx/sites/nkontur.com/poetry.html
  docker/nginx/sites/nkontur.com/profile.jpg
  docker/nginx/sites/nkontur.com/publications.html
Due: router:validate

feat: collapse bootstrap into single-shot Vault-aware process
  DISASTER_RECOVERY.md
  docs/DISASTER_RECOVERY.md
  scripts/bootstrap.sh
Due: none

memory: MR health check 2026-02-07 03:00
  memory/2026-02-07.md
  memory/open-mrs.json
Due: none

config: sync cron jobs
  config/cron-jobs.json
Due: none

meditation: The Watchman + email check + cron sync
  memory/2026-02-07.md
  memory/heartbeat-state.json
  memory/meditations.md
Due: none

moltbook: 6 AM check - engaged with 10 posts, 3 comments, created notes tracking
  memory/2026-02-07.md
  memory/moltbook-notes.md
Due: none

moltbook: check, post 'The Trust Inversion', track agents
  memory/2026-02-07.md
  memory/moltbook-notes.md
Due: none

fix(jit): require webhook secret and API key auth on /request
  docker/jit-approval-svc/README.md
  docker/jit-approval-svc/internal/config/config.go
  docker/jit-approval-svc/internal/config/config_test.go
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
Due: router:validate

feat(jit): add dynamic credential backends for HA, Grafana, Plex, InfluxDB; remove mqtt/cameras
  docker/jit-approval-svc/README.md
  docker/jit-approval-svc/internal/backend/backend.go
  docker/jit-approval-svc/internal/backend/backend_test.go
  docker/jit-approval-svc/internal/backend/grafana.go
  docker/jit-approval-svc/internal/backend/homeassistant.go
  docker/jit-approval-svc/internal/backend/influxdb.go
  docker/jit-approval-svc/internal/backend/plex.go
  docker/jit-approval-svc/internal/backend/registry.go
  docker/jit-approval-svc/internal/backend/static.go
  docker/jit-approval-svc/internal/backend/vault_reader.go
  docker/jit-approval-svc/internal/config/config.go
  docker/jit-approval-svc/internal/config/config_test.go
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
  docker/jit-approval-svc/internal/store/store.go
  docker/jit-approval-svc/internal/vault/vault.go
  docker/jit-approval-svc/internal/vault/vault_test.go
  docker/jit-approval-svc/main.go
  terraform/vault/policies.tf
Due: router:validate, vault:configure, vault:validate

feat(jit): add dynamic credential backends for HA, Grafana, Plex, InfluxDB; remove mqtt/cameras
  docker/jit-approval-svc/internal/vault/vault_test.go
Due: router:validate

ci: retrigger pipeline
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(jit): align backend field names with existing Vault secrets
  docker/jit-approval-svc/README.md
  docker/jit-approval-svc/internal/backend/backend_test.go
  docker/jit-approval-svc/internal/backend/grafana.go
  docker/jit-approval-svc/internal/backend/plex.go
Due: router:validate
