Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, moltbot:build, amcrest2mqtt:build, snapcast:build, snapclient:build, vault:configure, vault:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*

Isolate docker-socket-proxy on dedicated bridge network
  base/gitlab-runner/config.toml
  docker/docker-compose.yml
Due: router:validate

fix: typos
  .gitlab-ci.yml
  ansible/inventory.yml
Due: router:validate, zwave:validate, satellite-2:validate

Fix docker-proxy: enable internet + DNS for CI runner
  base/gitlab-runner/config.toml
  docker/docker-compose.yml
Due: router:validate

sync cron config
  config/cron-jobs.json
Due: none

Implement TLS + mTLS for Docker socket proxy (closes #49)
  .gitlab-ci.yml
  ansible/inventory.yml
  ansible/roles/configure-docker/tasks/main.yml
  base/gitlab-runner/config.toml
  docker/docker-compose.yml
  docker/docker-socket-proxy-tls/generate-certs.sh
  docker/docker-socket-proxy-tls/nginx.conf
Due: router:validate, zwave:validate, satellite-2:validate

Isolate docker-socket-proxy on private bridge network
  docker/docker-compose.yml
Due: router:validate

Use lab_nginx for docker-proxy TLS instead of dedicated sidecar
  ansible/inventory.yml
  ansible/roles/configure-docker/tasks/main.yml
  docker/docker-compose.yml
  docker/docker-socket-proxy-tls/docker-proxy-tls.stream.conf
  docker/docker-socket-proxy-tls/generate-certs.sh
  docker/docker-socket-proxy-tls/nginx.conf
  docker/nginx/stream-master-template.conf
Due: router:validate, zwave:validate, satellite-2:validate

Move CI runners to proxy-internal network, remove lab_nginx from mgmt
  ansible/inventory.yml
  ansible/roles/configure-docker/tasks/main.yml
  base/gitlab-runner/config.toml
  docker/docker-compose.yml
  docker/docker-socket-proxy-tls/generate-certs.sh
Due: router:validate, zwave:validate, satellite-2:validate

Consolidate to single runner with host network mTLS to docker-socket-proxy
  ansible/inventory.yml
  base/gitlab-runner/config.toml
  docker/docker-compose.yml
  docker/docker-socket-proxy-tls/generate-certs.sh
Due: router:validate, zwave:validate, satellite-2:validate

skill: require merge conflict check before reporting MR done
  skills/gitlab-mr/SKILL.md
Due: none

Consolidate to single runner with host network mTLS to docker-socket-proxy
  base/gitlab-runner/config.toml
  docker/docker-socket-proxy-tls/generate-certs.sh
Due: router:validate

fix: generate docker-proxy-tls certs before compose up
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate

fix: check all cert files for directory artifacts, not just ca.pem
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate

memory: 2026-02-12 docker proxy TLS session, JIT webhook design
  docs/jit-webhook-design.md
  memory/2026-02-12.md
  memory/main-pipeline-state.json
Due: none

fix: set explicit Docker env vars in .docker_build template
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix(docker-proxy): add basicConstraints and keyUsage to CA cert
  docker/docker-socket-proxy-tls/generate-certs.sh
Due: router:validate

fix(ci): restore DOCKER_BUILDKIT=0 for socket proxy compatibility
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

fix: restore DOCKER_BUILDKIT=0 for docker-socket-proxy compatibility
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

JIT: Retain full request detail in approval/denial/timeout notifications
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/telegram/telegram.go
Due: router:validate

memory: 2026-02-12 TLS debugging, BuildKit, paperless status
  memory/2026-02-12.md
  memory/main-pipeline-state.json
Due: none

Add VNC password auth + nginx proxy for browser sidecar
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/chromium-browser/entrypoint.sh
  docker/docker-compose.yml
  docker/nginx/http-internal-drop-in.conf
Due: router:validate

Add headed Chromium browser sidecar for autonomous browser control
  .gitlab-ci.yml
  docker/chromium-browser/Dockerfile
  docker/chromium-browser/entrypoint.sh
  docker/docker-compose.yml
Due: router:validate, zwave:validate, satellite-2:validate

memory: paperless JIT user, TLS fixes, jit-lib update
  MEMORY.md
  memory/2026-02-12.md
  tools/jit-lib.sh
Due: none

memory: loki access, chromium crashloop, nginx 301 pattern
  memory/2026-02-12.md
  memory/main-pipeline-state.json
Due: none

docs: Loki access via internal DNS (http://loki:3100), not HTTPS
  tools/services.md
Due: none

fix: clean up stale Xvfb lock files before starting display server
  docker/chromium-browser/entrypoint.sh
Due: router:validate

fix(chromium-browser): clean up stale Xvfb lock files on startup
  docker/chromium-browser/entrypoint.sh
Due: router:validate

fix: update vault tests for paperless tier change
  docker/jit-approval-svc/internal/vault/vault_test.go
Due: router:validate

feat: add Paperless-ngx T2 dynamic backend with credential isolation
  docker/jit-approval-svc/internal/backend/backend_test.go
  docker/jit-approval-svc/internal/backend/paperless.go
  docker/jit-approval-svc/internal/backend/registry.go
  docker/jit-approval-svc/internal/config/config.go
  docker/jit-approval-svc/internal/vault/vault.go
  docker/jit-approval-svc/main.go
  terraform/vault/policies.tf
Due: router:validate, vault:configure, vault:validate

fix: update NewRegistry call sites in tests for new paperlessURL param
  docker/jit-approval-svc/internal/backend/backend_test.go
  docker/jit-approval-svc/internal/backend/gitlab_test.go
  docker/jit-approval-svc/internal/handler/handler_test.go
Due: router:validate

fix: add PAPERLESS_URL env var to jit-approval-svc
  docker/docker-compose.yml
Due: router:validate

memory: chromium fixes, MR status, loki resolved
  memory/2026-02-12.md
Due: none

fix(chromium-browser): fix profile directory permissions on volume mount
  docker/chromium-browser/Dockerfile
  docker/chromium-browser/entrypoint.sh
Due: router:validate

fix(chromium): add capabilities needed for entrypoint chown and gosu
  docker/docker-compose.yml
Due: router:validate

memory: chromium running, CDP issue, VNC access
  memory/2026-02-12.md
  memory/main-pipeline-state.json
Due: none

fix(chromium): use socat proxy for CDP to bind on 0.0.0.0
  docker/chromium-browser/Dockerfile
  docker/chromium-browser/entrypoint.sh
Due: router:validate

fix(chromium): clean stale profile locks on container start
  docker/chromium-browser/entrypoint.sh
Due: router:validate

fix(chromium): add --remote-allow-origins=* for external CDP connections
  docker/chromium-browser/entrypoint.sh
Due: router:validate
