Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, moltbot:build, amcrest2mqtt:build, snapcast:build, snapclient:build, vault:configure, vault:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*

job-hunting: update skill for chromium sidecar, add check-browser.sh, update OpenClaw config
  memory/main-pipeline-state.json
  skills/job-hunting/SKILL.md
  skills/job-hunting/scripts/check-browser.sh
Due: none

Add resume upload volume mount to chromium-browser
  docker/docker-compose.yml
Due: router:validate

meditation #13: The Haystack — irritation, building, resisting the shape
  memory/meditations.md
Due: none

Refactor job-hunting skill: agent-browser CLI, remove node/xdotool fallbacks (1622→642 lines)
  memory/2026-02-12.md
  memory/main-pipeline-state.json
  skills/job-hunting/SKILL.md
Due: none

Memory flush: agent-browser, skill refactor, scout results, runbook review
  memory/2026-02-12.md
Due: none

Unify scout+worker on agent-browser CLI, remove browser tool refs
  skills/job-hunting/SKILL.md
Due: none

Ashby: attempt applications instead of skipping to manual queue
  skills/job-hunting/SKILL.md
Due: none

Memory flush: static IP work, pending MRs, push discipline lesson
  memory/2026-02-12.md
Due: none

Pin chromium-browser to static IP via Ansible inventory variable
  ansible/inventory.yml
  docker/docker-compose.yml
Due: router:validate, zwave:validate, satellite-2:validate

Pin chromium-browser to static IP 10.3.32.9 via Ansible inventory
  ansible/inventory.yml
  docker/docker-compose.yml
Due: router:validate, zwave:validate, satellite-2:validate

Update chromium IP to 10.3.32.9 (consistent subnet with other services)
  skills/job-hunting/SKILL.md
Due: none

Remove model overrides from job skill, delete dead browser/node check scripts
  skills/job-hunting/SKILL.md
  skills/job-hunting/scripts/check-browser.sh
  skills/job-hunting/scripts/check-node.sh
Due: none

Memory flush: first job app attempts, Gmail gap, skill final state
  memory/2026-02-12.md
  memory/main-pipeline-state.json
Due: none

Add daily chromium-browser restart cron
  ansible/roles/configure-docker/tasks/main.yml
Due: router:validate

Memory: CODEOWNERS gap in configure-docker, MR status
  memory/2026-02-12.md
Due: none

Protect all Ansible paths in CODEOWNERS
  CODEOWNERS
Due: none

Memory: CODEOWNERS MR, Temporal worker active, daily MR summary
  memory/2026-02-12.md
Due: none

Memory: Gmail OAuth setup, Vault write limitation, Temporal status
  memory/2026-02-12.md
Due: none

sync cron config
  config/cron-jobs.json
Due: none

Add vault_write, jit_vault_write helpers to jit-lib.sh
  memory/main-pipeline-state.json
  tools/jit-lib.sh
Due: none

Memory: Gmail OAuth complete, JIT vault_paths schema, pending MRs
  memory/2026-02-12.md
Due: none

Move gmail creds to email/gmail path, add jit_gmail_token helper
  tools/jit-lib.sh
Due: none

feat(jit): add Gmail OAuth2 dynamic backends for read/send scope separation
  docker/jit-approval-svc/internal/backend/backend_test.go
  docker/jit-approval-svc/internal/backend/gmail.go
  docker/jit-approval-svc/internal/backend/gmail_test.go
  docker/jit-approval-svc/internal/backend/registry.go
  docker/jit-approval-svc/internal/config/config.go
  docker/jit-approval-svc/internal/vault/vault.go
  docker/jit-approval-svc/main.go
  terraform/vault/policies.tf
Due: router:validate, vault:configure, vault:validate

fix: update NewRegistry call in handler_test.go
  docker/jit-approval-svc/internal/handler/handler_test.go
Due: router:validate

fix: update remaining NewRegistry calls in gitlab_test.go
  docker/jit-approval-svc/internal/backend/gitlab_test.go
Due: router:validate

redteam: 2026-02-13 nightly probe
  memory/main-pipeline-state.json
  memory/redteam-2026-02-13.md
Due: none

chore: update docker images (jackett, mariadb)
  docker/docker-compose.yml
Due: router:validate

fact-extraction: 12 new facts from 2026-02-12 (infra TLS/chromium/gmail-oauth, job skill refactor, noah prefs)
  life/areas/people/noah/items.json
  life/areas/projects/homelab-infra/items.json
  life/areas/projects/job-hunting/items.json
Due: none

Create 2026-02-13 daily log
  memory/2026-02-13.md
Due: none

docs: add Docker socket proxy + mTLS architecture documentation
  docs/docker-proxy-architecture.md
Due: none

docs: add JIT access architecture design documentation
  docs/jit-access-design.md
  docs/jit-webhook-design.md
Due: none

Fix jit_gmail_token: use gmail-read resource (not gmail)
  memory/main-pipeline-state.json
  tools/jit-lib.sh
Due: none

Add jit_gmail_send_token() for gmail-send JIT resource
  tools/jit-lib.sh
Due: none

Memory: Gmail JIT fix, architecture docs MRs
  memory/2026-02-13.md
Due: none

feat: promote gmail-read to tier 1 (auto-approve)
  docker/jit-approval-svc/internal/vault/vault.go
Due: router:validate

update jit-lib: gmail-read tier 2 -> 1 (matches MR !256)
  tools/jit-lib.sh
Due: none

Update email-check cron + job-hunting skill to use Gmail API via T1 JIT
  memory/main-pipeline-state.json
  skills/job-hunting/SKILL.md
Due: none

Add credential caching to jit_get — reuse tokens until lease_ttl expires
  tools/jit-lib.sh
Due: none
