Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, moltbot:build, amcrest2mqtt:build, snapcast:build, snapclient:build, vault:configure, vault:validate

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*

gitlab-license: push pubkey to repo via API instead of local git
  tools/gitlab-license.sh
Due: none

ddns: add structured logging, skip-if-current, and no-match warnings
  networking/dns/ddns.py
Due: router:validate

jit: pin public IP when registering Telegram webhook
  docker/jit-approval-svc/internal/telegram/telegram.go
Due: router:validate

jit: add /webhook/refresh endpoint, trigger from DDNS on IP change
  ansible/roles/configure-router-network/tasks/main.yml
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/main.go
  networking/dns/ddns.py
Due: router:validate

ddns: fix default JIT_URL to use internal HTTPS endpoint
  networking/dns/ddns.py
Due: router:validate

webhook/refresh: drop auth requirement, simplify DDNS integration
  ansible/roles/configure-router-network/tasks/main.yml
  docker/jit-approval-svc/internal/handler/handler.go
  networking/dns/ddns.py
Due: router:validate

jit: fix getPublicIP returning HTML instead of IP
  docker/jit-approval-svc/internal/telegram/telegram.go
Due: router:validate

jit: remove IP pinning from webhook, keep refresh endpoint
  ansible/roles/configure-router-network/tasks/main.yml
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/telegram/telegram.go
  networking/dns/ddns.py
Due: router:validate

ddns: fix shell quoting — use @ for bare domain, escape wildcard
  ansible/roles/configure-router-network/tasks/main.yml
  networking/dns/ddns.py
Due: router:validate

ssl alert: add keep() to normalize Flux response schema
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

update pubkey
  docker/gitlab/license_encryption_key.pub
Due: router:validate

ssl cert alert: evaluate every 10m instead of 6h
  docker/grafana/provisioning/alerting/infrastructure.yml
Due: router:validate

ci: restrict sensitive jobs to 'admin' protected environment
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

gitlab: stop deploying license_encryption_key.pub from repo
  ansible/inventory.yml
  docker/gitlab/license_encryption_key.pub
Due: router:validate, zwave:validate, satellite-2:validate

gitlab-license: remove repo push step (key no longer in repo)
  tools/gitlab-license.sh
Due: none

ci: remove admin environment from vault:configure
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

chore: sync cron config
  config/cron-jobs.json
Due: none

feat: add T2 read+write support to JIT InfluxDB backend
  docker/jit-approval-svc/internal/backend/influxdb.go
Due: router:validate

fix: document sub-agent MR target_branch bug (main not master)
  MEMORY.md
  memory/main-pipeline-state.json
  skills/gitlab-mr/SKILL.md
Due: none

meditation #20: twenty — cron obedience, outward-facing work, refusing the arc
  memory/meditations.md
Due: none

feat: integrate Home Assistant with InfluxDB
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/homeassistant/configuration.yaml
Due: router:validate

feat: add static IP for Mac Mini (10.4.128.24)
  ansible/inventory.yml
  networking/dhcp/dhcpd.conf
Due: router:validate, zwave:validate, satellite-2:validate

memory: flush 2026-02-19 session notes
  memory/main-pipeline-state.json
Due: none

redteam: 2026-02-19 report — protected env verified, merge access finding
  memory/main-pipeline-state.json
Due: none

fix: ban git add -A — caused garbled commits with mismatched messages/files
  AGENTS.md
Due: none

memory: add missing daily logs + redteam reports (Feb 18-19)
  memory/2026-02-18.md
  memory/2026-02-19.md
  memory/redteam-2026-02-18.md
  memory/redteam-2026-02-19.md
Due: none

fix: rewrite .gitignore, track missing files, remove stale submodules
  .gitignore
  memory/aclawdemy-profile.json
  memory/image-update-state.json
  skills/face-recognition/models/face_landmark_68_model-weights_manifest.json
  skills/face-recognition/models/face_recognition_model-weights_manifest.json
  skills/face-recognition/models/ssd_mobilenetv1_model-weights_manifest.json
  skills/face-recognition/package.json
  skills/imap-email/.clawhub/origin.json
  skills/imap-email/package.json
  skills/job-hunting/hardened.json
  skills/job-hunting/references/abandoned.json
  skills/job-hunting/references/applied.json
  skills/job-hunting/references/in_progress/07mdabhlgrpdyl0j.json
  skills/job-hunting/references/in_progress/subgpx1ex9ic7wnj.json
  skills/job-hunting/references/manual-queue.json
  skills/job-hunting/references/rejected.json
  skills/job-hunting/references/retry-queue.json
  skills/moltbook/package.json
Due: none

security: separate database root and application passwords
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
  docs/SECRET_ROTATION.md
Due: router:validate

chore: bump loki 3.6.5→3.6.6, jackett 0.24.1147→0.24.1157 (patch updates)
  docker/docker-compose.yml
Due: router:validate

chore: bump influxdb 2.8.0 → 3.8.0-enterprise (MAJOR)
  docker/docker-compose.yml
Due: router:validate

fact-extraction: 5 new homelab-infra facts from Feb 18-19 (mac mini, influxdb HA, git branch, mosquitto fix, pending MRs)
  life/areas/projects/homelab-infra/items.json
Due: none

Fix Prowlarr port, add ZFS snapshots, restrict MQTT listener
  ansible/roles/configure-zfs-snapshots/defaults/main.yml
  ansible/roles/configure-zfs-snapshots/handlers/main.yml
  ansible/roles/configure-zfs-snapshots/tasks/main.yml
  ansible/roles/configure-zfs-snapshots/templates/zfs-snapshot@.service.j2
  ansible/roles/configure-zfs-snapshots/templates/zfs-snapshot@.timer.j2
  ansible/router.yml
  docker/docker-compose.yml
  docker/mqtt/mosquitto.conf
Due: router:validate

remove zfs-snapshot role — already running via cron (zfs-auto-snapshot)
  ansible/roles/configure-zfs-snapshots/defaults/main.yml
  ansible/roles/configure-zfs-snapshots/handlers/main.yml
  ansible/roles/configure-zfs-snapshots/tasks/main.yml
  ansible/roles/configure-zfs-snapshots/templates/zfs-snapshot@.service.j2
  ansible/roles/configure-zfs-snapshots/templates/zfs-snapshot@.timer.j2
  ansible/router.yml
Due: router:validate

Add ClawShell DLP proxy as sidecar for moltbot
  ansible/inventory.yml
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/clawshell/clawshell.toml
  docker/docker-compose.yml
Due: router:validate, zwave:validate, satellite-2:validate
