Repository konturn/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: router:validate, zwave:validate, satellite-2:validate, moltbot:build, amcrest2mqtt:build, snapcast:build, snapclient:build, vault:configure, vault:validate

router:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

zwave:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

satellite-2:validate:
  image: willhallonline/ansible:latest
  before_script:
  - mkdir -p /cache/pip /cache/ansible-roles
  - pip3 install -q --cache-dir /cache/pip -r requirements.txt
  ...

moltbot:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

amcrest2mqtt:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapcast:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

snapclient:build:
  stage: build
  image: docker:27
  variables:
    DOCKER_HOST: tcp://10.4.32.2:2375
    DOCKER_BUILDKIT: '0'
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  needs: []
  script:
  ...

vault:configure:
  stage: configure
  image: alpine:3.19
  needs:
  - job: router:deploy
    optional: true
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.lab.nkontur.com:8200
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
    VAULT_SKIP_VERIFY: 'true'
  before_script:
  ...

vault:validate:
  interruptible: true
  stage: validate
  image: alpine:3.19
  needs: []
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.lab.nkontur.com:8200
  variables:
    TF_VERSION: 1.7.5
    VAULT_ADDR: https://vault.lab.nkontur.com:8200
    VAULT_SKIP_VERIFY: 'true'
  before_script:
  ...

fix: update handler test to match new NewRegistry signature
  docker/jit-approval-svc/internal/handler/handler_test.go
Due: router:validate

remove open-mrs.json tracking, use GitLab API directly
  memory/2026-02-09.md
  memory/main-pipeline-state.json
  memory/open-mrs.json
  skills/gitlab-mr/SKILL.md
Due: none

docs: comprehensive JIT usage patterns + Loki querying in TOOLS.md
  TOOLS.md
Due: none

feat: support scoped GitLab project access tokens in JIT service
  docker/jit-approval-svc/internal/backend/backend.go
  docker/jit-approval-svc/internal/backend/backend_test.go
  docker/jit-approval-svc/internal/backend/gitlab.go
  docker/jit-approval-svc/internal/backend/gitlab_test.go
  docker/jit-approval-svc/internal/backend/grafana.go
  docker/jit-approval-svc/internal/backend/homeassistant.go
  docker/jit-approval-svc/internal/backend/influxdb.go
  docker/jit-approval-svc/internal/backend/static.go
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
  docker/jit-approval-svc/internal/store/store.go
  docker/jit-approval-svc/internal/store/store_test.go
  docker/jit-approval-svc/internal/telegram/telegram.go
Due: router:validate

feat: enable Vault audit logging to file
  docker/docker-compose.yml
  docker/promtail/config.yml
  terraform/vault/audit.tf
Due: router:validate, vault:configure, vault:validate

feat: add dynamic Vault backend with inline scoped policies
  docker/jit-approval-svc/internal/backend/backend.go
  docker/jit-approval-svc/internal/backend/backend_test.go
  docker/jit-approval-svc/internal/backend/gitlab_test.go
  docker/jit-approval-svc/internal/backend/registry.go
  docker/jit-approval-svc/internal/backend/static.go
  docker/jit-approval-svc/internal/backend/vault_dynamic.go
  docker/jit-approval-svc/internal/backend/vault_dynamic_test.go
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
  docker/jit-approval-svc/internal/store/store.go
  docker/jit-approval-svc/internal/telegram/telegram.go
  docker/jit-approval-svc/internal/vault/vault.go
  docker/jit-approval-svc/main.go
  terraform/vault/policies.tf
Due: router:validate, vault:configure, vault:validate

refactor: merge T0 into T1 — tiers represent approval trust, not backend type
  docker/jit-approval-svc/README.md
  docker/jit-approval-svc/internal/config/config.go
  docker/jit-approval-svc/internal/config/config_test.go
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
  docker/jit-approval-svc/internal/vault/vault.go
  docker/jit-approval-svc/internal/vault/vault_test.go
  docs/SECRET_ROTATION.md
  terraform/vault/policies.tf
  terraform/vault/roles.tf
Due: router:validate, vault:configure, vault:validate

memory: feb 9 JIT expansion, vault dynamic backend, audit logs
  MEMORY.md
  memory/2026-02-09.md
  memory/main-pipeline-state.json
Due: none

feat: add SSH certificate-based access via claude user with JIT
  ansible/roles/claude-user/defaults/main.yml
  ansible/roles/claude-user/handlers/main.yml
  ansible/roles/claude-user/tasks/main.yml
  ansible/roles/fetch-vault-secrets/tasks/main.yml
  ansible/router.yml
  ansible/satellite-2.yml
  docker/docker-compose.yml
  docker/jit-approval-svc/internal/backend/backend_test.go
  docker/jit-approval-svc/internal/backend/gitlab_test.go
  docker/jit-approval-svc/internal/backend/registry.go
  docker/jit-approval-svc/internal/backend/ssh.go
  docker/jit-approval-svc/internal/backend/ssh_test.go
  docker/jit-approval-svc/internal/config/config.go
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
  docker/jit-approval-svc/internal/store/store.go
  docker/jit-approval-svc/internal/vault/vault.go
  docker/jit-approval-svc/main.go
  docs/SECRET_ROTATION.md
  terraform/vault/policies.tf
  terraform/vault/ssh.tf
Due: router:validate, satellite-2:validate, vault:configure, vault:validate

feat: add gmail as T1 JIT resource + moltbot Vault read access
  docker/jit-approval-svc/README.md
  docker/jit-approval-svc/internal/vault/vault.go
  terraform/vault/policies.tf
Due: router:validate, vault:configure, vault:validate

fix: add sys/audit read to vault-read policy
  terraform/vault/policies.tf
Due: vault:configure, vault:validate

fix: add sudo capability to vault-read sys/audit path
  terraform/vault/policies.tf
Due: vault:configure, vault:validate

feat: add Tailscale, Prowlarr, MQTT, Pihole to JIT service
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
  docker/jit-approval-svc/internal/backend/backend_test.go
  docker/jit-approval-svc/internal/backend/gitlab_test.go
  docker/jit-approval-svc/internal/backend/registry.go
  docker/jit-approval-svc/internal/backend/tailscale.go
  docker/jit-approval-svc/internal/backend/tailscale_test.go
  docker/jit-approval-svc/internal/config/config.go
  docker/jit-approval-svc/internal/handler/handler_test.go
  docker/jit-approval-svc/main.go
  terraform/vault/policies.tf
Due: router:validate, vault:configure, vault:validate

fix(claude-user): use 'ssh' service name instead of 'sshd'
  ansible/roles/claude-user/handlers/main.yml
Due: none

meditation: The Gardener's Paradox
  TOOLS.md
  memory/2026-02-09.md
  memory/main-pipeline-state.json
  memory/meditations.md
Due: none

fix: handle missing Vault fields gracefully in fetch-vault-secrets
  ansible/roles/fetch-vault-secrets/tasks/extract_secret.yml
Due: none

chore: update mariadb 11 → 12 (major)
  docker/docker-compose.yml
Due: router:validate

chore: update docker images (2026-02-10)
  docker/docker-compose.yml
Due: router:validate

memory: add 2026-02-10 daily log
  memory/2026-02-10.md
Due: none

security: remove VAULT_TOKEN fallback in vault:validate
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

security: JIT constant-time comparisons + store size cap + health hardening
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
  docker/jit-approval-svc/internal/store/store.go
  docker/jit-approval-svc/internal/store/store_test.go
Due: router:validate

security: remove MOLTBOT_GITLAB_TOKEN env var fallback in vault:configure
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

heartbeat: dispatch MRs for red team and audit findings immediately
  HEARTBEAT.md
Due: none

security: add JIT approval service to CODEOWNERS
  CODEOWNERS
Due: none

memory: add JIT service catalog for proactive elevated access
  MEMORY.md
Due: none

feat: GitLab JIT backend - Maintainer tokens + multi-project support
  docker/jit-approval-svc/internal/backend/backend.go
  docker/jit-approval-svc/internal/backend/backend_test.go
  docker/jit-approval-svc/internal/backend/gitlab.go
  docker/jit-approval-svc/internal/backend/gitlab_test.go
  docker/jit-approval-svc/internal/backend/registry.go
  docker/jit-approval-svc/internal/config/config.go
  docker/jit-approval-svc/internal/handler/handler.go
  docker/jit-approval-svc/internal/handler/handler_test.go
  docker/jit-approval-svc/internal/store/store.go
  docker/jit-approval-svc/main.go
Due: router:validate

security: add no-new-privileges to Vault container
  docker/docker-compose.yml
Due: router:validate

security: harden satellite and zwave compose containers
  docker/docker-compose-satellite.yml
  docker/docker-compose-zwave.yml
Due: router:validate, zwave:validate

security: add SSH rate limiting on WAN interface
  docs/FIREWALL.md
  networking/iptables/rules.v4
Due: router:validate

security: separate database root and application passwords
  ansible/roles/fetch-vault-secrets/defaults/main.yml
  docker/docker-compose.yml
  docs/SECRET_ROTATION.md
Due: router:validate

memory: afternoon pre-compaction flush Feb 10
  memory/2026-02-10.md
Due: none

chore: upgrade OpenClaw to 2026.2.9
  docker/moltbot/Dockerfile
Due: router:validate, moltbot:build

cleanup: remove moltbot env vars now covered by JIT
  docker/docker-compose.yml
Due: router:validate

memory: flush pre-compaction — openclaw upgrade, JIT architecture discussion, fix TOOLS.md permissions
  TOOLS.md
  memory/2026-02-09.md
  memory/2026-02-10.md
  memory/main-pipeline-state.json
  memory/moltbook-notes.md
Due: none

security: scope moltbot-ops Vault policy to JIT-only access
  terraform/vault/policies.tf
Due: vault:configure, vault:validate

memory: JIT architecture overhaul, SSH deep dive findings, GitLab access correction
  memory/2026-02-10.md
  memory/main-pipeline-state.json
Due: none

fix: JIT dynamic backend fixes — no static fallback, missing vault paths, SSH CA deploy ordering
  .gitlab-ci.yml
  docker/jit-approval-svc/internal/handler/handler.go
  terraform/vault/policies.tf
Due: router:validate, zwave:validate, satellite-2:validate, vault:configure, vault:validate

fix: move vault jobs to deploy stage to fix needs ordering
  .gitlab-ci.yml
Due: router:validate, zwave:validate, satellite-2:validate

memory: save Avery reddit info recovered from session logs
  memory/2026-02-10.md
Due: none

knowledge: full Avery Brewer profile from Reddit deep dive + session transcript recovery
  life/areas/people/avery-brewer/summary.md
Due: none

Path conditions:
  router:validate: any of: ansible/router.yml, ansible/inventory.yml, ansible/roles/configure-base/**/*, ansible/roles/configure-docker/**/*, ansible/roles/configure-router-network/**/*, ansible/roles/configure-wireguard/**/*, ansible/roles/configure-notifications/**/*, docker/docker-compose.yml, docker/**/*, networking/**/*, base/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  zwave:validate: any of: ansible/zwave.yml, ansible/inventory.yml, ansible/roles/configure-zwave/**/*, ansible/roles/configure-snapclient/**/*, docker/docker-compose-zwave.yml, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  satellite-2:validate: any of: ansible/satellite-2.yml, ansible/inventory.yml, ansible/roles/configure-satellite/**/*, requirements.txt, ansible/requirements.yml, .gitlab-ci.yml
  moltbot:build: any of: docker/moltbot/**/*
  amcrest2mqtt:build: any of: docker/images/amcrest2mqtt/**/*
  snapcast:build: any of: docker/images/snapcast/**/*
  snapclient:build: any of: docker/images/snapclient/**/*
  vault:configure: any of: terraform/vault/**/*
  vault:validate: any of: terraform/vault/**/*
